// ***** Body Element ***** //

body {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: $space2;
  padding-left: $space2;
  font-family: 'Source Sans Pro', Arial;
  font-weight: 400;
  line-height: $line-height0;
}
