// ***** Required Component ***** //

.c-required {
  margin-bottom: $space3;
  font-size: .9rem;
  font-style: italic;
  text-align: right;

  &::before {
    margin-right: $space1;
    color: $color-red;
    content: '*';
  }

}
