// ***** Step Template ***** //

@mixin border {
  border: 1px solid $color-green;
}

.t-step {
  display: grid;
  min-height: 100vh;
  grid-gap: $space2;
  grid-template-rows: auto 1fr auto;

  &.highlight-grid {

    > * {
      background: $color-green;
    }

    main {

      > * {
        background-color: $color-blue;
      }

    }

  }

  &__fields {
    
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-gap: $space3 $space1;
    justify-items: start;

    > * {
      grid-column: 2 / 4;
    }

    label {
      justify-self: end;
      grid-column: 1;

      &:not(.textarea) {
        align-self: center;
      }

    }

    input[type='checkbox'] {
      grid-column: 2;

      + label {
        grid-column: 3;
        justify-self: start;
      }

    }

    textarea,
    .c-fieldgroup {
      justify-self: stretch;
    }

    h3 {
      margin: 0;
      grid-column: 1 / 4;
    }

  }

}
