<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../themes/mandelbrot/favicon.ico" type="image/ico">

<link rel="stylesheet" href="../../themes/mandelbrot/css/default.css?cachebust=1.2.1" type="text/css">

<link rel="stylesheet" href="../../_subtheme/customizations.css?cachebust=1.2.1" type="text/css">


<title>Accordion: 3 | DMPHub UI Library</title>

</head>
<body>



<div class="Frame" id="frame">

    <div class="Frame-header">
        <div class="Header">
    <button class="Header-button Header-navToggle" data-action="toggle-sidebar">
        <svg class="Header-navToggleIcon Header-navToggleIcon--open" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

        <svg class="Header-navToggleIcon Header-navToggleIcon--closed" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
</svg>

    </button>
    <a href="../../index.html" class="Header-title" data-pjax>DMPHub UI Library</a>
</div>

    </div>

    <div class="Frame-body" data-role="body">

        <div class="Frame-panel Frame-panel--main" data-role="main">
            <div class="Frame-inner" id="pjax-container">
            


    
    

<div class="Pen" data-behaviour="pen" id="pen-6a66c4a857a6990329d16a41d9ca266c">

    

    <div class="Pen-panel Pen-header">
    <h1 class="Pen-title">
        <a class="Pen-previewLink" href="../preview/accordion--3.html" title="Component preview">
            Accordion: 3
            <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>

        </a>
    </h1>
    

<div class="Status Status--tag">

<label class="Status-label" style="background-color: #29CC29; border-color: #29CC29;">Ready</label>

</div>


</div>


    <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-6a66c4a857a6990329d16a41d9ca266c">
    <div class="Preview-wrapper" data-role="resizer">
        <div class="Preview-resizer">
            
             <iframe
                class="Preview-iframe"
                data-role="window"
                src="../preview/accordion--3.html"
                sandbox="allow-same-origin allow-scripts allow-forms allow-modals"
                 style=""
                marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" scrolling="yes">
            </iframe>
        </div>
        <div class="Preview-handle" data-role="resize-handle"></div>
        <div class="Preview-overlay"></div>
    </div>
</div>


    <div class="Pen-handle Pen-handle--browser" data-role="resize-handle"></div>

    <div class="Pen-panel Pen-info" data-role="info">
    <div class="Browser" data-behaviour="browser" id="browser-6a66c4a857a6990329d16a41d9ca266c">

    

<div class="Browser-controls">
    <ul class="Browser-tabs">
        
        
        <li class="Browser-tab Browser-tab--notes is-active " data-role="tab">
            <a href="#browser-6a66c4a857a6990329d16a41d9ca266c-panel-notes">Notes</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--html" data-role="tab">
            <a href="#browser-6a66c4a857a6990329d16a41d9ca266c-panel-html">HTML</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--view" data-role="tab">
            <a href="#browser-6a66c4a857a6990329d16a41d9ca266c-panel-view">View</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--context" data-role="tab">
            <a href="#browser-6a66c4a857a6990329d16a41d9ca266c-panel-context">Context</a>
        </li>
        
        
        
        
        
        
        
        <li class="Browser-tab Browser-tab--info" data-role="tab">
            <a href="#browser-6a66c4a857a6990329d16a41d9ca266c-panel-info">Info</a>
        </li>
        
        
    </ul>
</div>


    
    <div class="Browser-panel Browser-notes" data-role="tab-panel" id="browser-6a66c4a857a6990329d16a41d9ca266c-panel-notes">
    <div class="Prose Prose--condensed">
        
        <p class="Browser-isEmptyNote">There are no notes for this item.</p>
        
    </div>
</div>

    
    
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-6a66c4a857a6990329d16a41d9ca266c-panel-html">
    <code class="Code Code--lang-html">
        
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"accordion-distribution"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-accordion"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">details</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">summary</span>&gt;</span>Host<span class="hljs-tag">&lt;/<span class="hljs-name">summary</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-accordion__section"</span>&gt;</span>
            Ipsum non natus magnam qui cupiditate voluptas assumenda. Dolorum ipsa et perferendis mollitia dignissimos possimus nisi sed cum. Harum rerum quo repudiandae adipisci facere suscipit dolore sint eum. Minima enim expedita aliquid. Et facere incidunt fugit
            laborum. Voluptas qui accusamus quo qui et beatae fuga doloribus. Aut facilis possimus vel perspiciatis occaecati quia autem. Eaque quia non est accusantium itaque dignissimos modi asperiores tempora. At dolorem eum sequi aliquid. Ut similique
            consequuntur voluptatem maiores dolorem quo aut eveniet quibusdam. Inventore fugit nemo illo error sit possimus. Rerum consequatur voluptas itaque nesciunt sed quam sapiente. Vitae quia non nobis. Corrupti mollitia quia ex aspernatur ducimus
            perspiciatis tenetur. Id reprehenderit provident enim pariatur. Optio iste non perferendis qui pariatur. Et tempora omnis magnam ut aliquid doloribus repellendus eum.
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">details</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">details</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">summary</span>&gt;</span>Licenses<span class="hljs-tag">&lt;/<span class="hljs-name">summary</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-accordion__section"</span>&gt;</span>
            Eaque est voluptatem iusto voluptates velit reprehenderit delectus. Veritatis et atque sunt eius consequatur exercitationem sed eum. Consequatur iusto vitae reprehenderit adipisci et eos ex reiciendis. Quod cum et vitae sapiente. Voluptatem esse aut sint
            quia enim et earum. Quas veniam ut culpa est doloremque. Maiores incidunt perferendis adipisci. Error quos dolorum facere facilis voluptatum ea officia reprehenderit qui. Reiciendis rerum libero dolore labore porro perferendis veniam eius
            earum. Ducimus reprehenderit maxime vel ut repellendus. Sunt iure tenetur sed non vero mollitia et ea. Est est accusamus et tempore veniam ut.
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">details</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></pre>
        
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-6a66c4a857a6990329d16a41d9ca266c-panel-view">
    <code class="Code Code--lang-handlebars">
        <pre><span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"</span></span></span><span class="hljs-template-variable">{{ accordion.id3 }}</span><span class="xml"><span class="hljs-tag"><span class="hljs-string">"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-accordion"</span>&gt;</span>
  </span><span class="hljs-template-tag">{{#<span class="hljs-name"><span class="hljs-builtin-name">each</span></span> accordion3}}</span><span class="xml">
  <span class="hljs-tag">&lt;<span class="hljs-name">details</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">summary</span>&gt;</span></span><span class="hljs-template-variable">{{ accordion.label }}</span><span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-name">summary</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-accordion__section"</span>&gt;</span>
      </span><span class="hljs-template-variable">{{ accordion.content }}</span><span class="xml">
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">details</span>&gt;</span>
  </span><span class="hljs-template-tag">{{/<span class="hljs-name"><span class="hljs-builtin-name">each</span></span>}}</span><span class="xml">
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></span></pre>
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-6a66c4a857a6990329d16a41d9ca266c-panel-context">
    <code class="Code Code--lang-json">
        
            
            <pre>{
  <span class="hljs-attr">"accordion"</span>: {
    <span class="hljs-attr">"id1"</span>: <span class="hljs-string">"accordion-funding"</span>,
    <span class="hljs-attr">"id2"</span>: <span class="hljs-string">"accordion-datasets"</span>,
    <span class="hljs-attr">"id3"</span>: <span class="hljs-string">"accordion-distribution"</span>
  },
  <span class="hljs-attr">"accordion1"</span>: [
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Staff"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Ab nihil voluptate. Quis ut vero aut accusantium rem et eaque soluta excepturi. Occaecati est culpa vel quo suscipit aliquid aliquid voluptates reprehenderit.\n \rReprehenderit consequatur ea et aut itaque totam voluptates est. Ullam quidem saepe ad deleniti. Veniam suscipit quam voluptas. Aut est qui id impedit rem.\n \rNihil quo dolore quisquam sed excepturi ullam. Ratione suscipit sunt ut id culpa commodi architecto. Soluta consectetur quisquam cum omnis numquam quas. Vitae quod culpa natus et. Officia perspiciatis quisquam eligendi dicta. Voluptatibus culpa quia incidunt aut maxime quas omnis dignissimos velit."</span>
      }
    },
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Ethics"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Quam laudantium accusamus dolor possimus labore dolores sit dolor. Omnis expedita error est et est ea sed occaecati rem. Consequatur doloremque cum illo consequatur sed.\n \rUt molestiae rerum magni quos quis enim est. Quod non et quam impedit. Voluptatem nulla voluptatibus blanditiis.\n \rSed recusandae atque ipsam voluptatum. Et ipsa cupiditate impedit dolorem atque nihil dignissimos culpa eaque. Ipsa qui sit laudantium rerum temporibus et aut consequatur."</span>
      }
    },
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Cost"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Assumenda quia totam dolorem molestiae commodi sit. Corporis molestias atque exercitationem molestiae hic ratione illum soluta. Aut aut et maiores sunt.\n \rExpedita laborum voluptate et quaerat inventore vitae iure. Minus enim dolores in similique. Voluptatem tenetur sit aut. Fuga nulla odio rerum nihil ullam.\n \rAccusamus officia minima aspernatur voluptatem explicabo sint error et possimus. Eos cupiditate quis aut doloribus. Ut quo aliquid. Corrupti distinctio id earum consequatur dolore."</span>
      }
    }
  ],
  <span class="hljs-attr">"accordion2"</span>: [
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Overview"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Expedita accusantium nesciunt. Voluptates molestiae qui totam totam autem est perspiciatis. Vero deleniti et dolore ut ea est sed dolores.\n \rSed laborum maiores labore. Nihil qui aliquid rerum minima. Repellat et ipsa a facilis omnis eaque. Omnis dolorum incidunt sit sunt. Est illo minus. Cum sed ab quia exercitationem similique qui a quis dolore.\n \rMagni occaecati laborum illo doloribus molestias ut. Modi amet alias. Voluptatibus suscipit aut veniam sint iure esse similique maxime. Non amet reprehenderit odit at quod consequuntur. Saepe vel dolores maiores molestiae est nemo dolor sint. Sint eos aut velit vero corporis et voluptatibus corporis voluptas."</span>
      }
    },
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Security and Privacy"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Mollitia cum odio est recusandae enim qui maxime voluptatum. Et natus ea labore. Possimus aspernatur dolorem eius odit quia et ratione ducimus veniam. Dolor omnis cupiditate ut aperiam eveniet voluptatibus et et at.\n \rDistinctio autem vel minima dolores est error perferendis qui doloremque. Illo dolore fugit cupiditate placeat sed saepe porro. Ea a quibusdam deleniti et et eaque sed unde est.\n \rSimilique similique quia nemo. At possimus in aut nemo illum eveniet. Ea provident commodi iure. Dolore sed est non eaque rerum omnis ex non. Debitis consequuntur occaecati eum aperiam. Qui dolor quibusdam ad quos."</span>
      }
    },
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Technical Resources"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Et voluptatem officiis veniam eveniet delectus. Et accusamus rerum deserunt est. Vero suscipit at dolores a et optio eius aut. Minus blanditiis id nulla porro voluptatem porro eaque ipsa. Sint quod autem.\n \rNam laudantium non iusto. Ea qui quia mollitia cupiditate et ducimus impedit nam. Unde atque accusantium odio doloremque omnis cumque alias. Aut sapiente unde debitis deleniti totam consequuntur fuga. Blanditiis est modi aliquid autem omnis aut expedita nam natus.\n \rVoluptatum quia delectus voluptas doloremque et voluptatem. Ullam facere earum reiciendis. Maiores neque temporibus voluptatibus et placeat quia ut et non."</span>
      }
    },
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Metadata"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Aut reprehenderit iste expedita omnis est vel voluptas doloremque dolor. Totam neque voluptatem occaecati ex omnis tenetur est. Minima nobis nihil suscipit natus asperiores.\n \rCommodi adipisci nesciunt aspernatur modi earum ex rerum. Dolorum saepe sit. Tempora facere et laudantium officiis dolore. Nihil consequatur et ad repellat sed.\n \rFacilis tenetur et. Et dolorem in quia minima expedita porro voluptas facilis. Dolores neque eum maiores debitis tempora impedit officia veniam. Et delectus dignissimos expedita doloribus qui est. Vero voluptas praesentium odit sed alias modi."</span>
      }
    },
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Distributions"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Et autem voluptas similique consequatur aliquid aut iste eum. Assumenda impedit odio consectetur. Nemo architecto laboriosam deleniti consequatur totam nihil voluptatem eum. Quia et iure dignissimos quibusdam aspernatur provident quia et enim. Atque at laboriosam architecto est qui. Maxime accusamus fuga asperiores dicta eius.\n \rNon pariatur deserunt rerum error nostrum saepe. Magnam perferendis quia debitis libero veritatis autem minus. Asperiores quis et cum. Et mollitia nam fuga. Libero earum ipsum eos.\n \rDolorum qui ipsa sed nobis error adipisci ut. Omnis omnis quo. Quisquam eos dolores aut autem nam voluptatem impedit suscipit. Et ut delectus minima illo. Praesentium occaecati ut. Ut et facere laboriosam molestiae error voluptatem rerum."</span>
      }
    }
  ],
  <span class="hljs-attr">"accordion3"</span>: [
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Host"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Ipsum non natus magnam qui cupiditate voluptas assumenda. Dolorum ipsa et perferendis mollitia dignissimos possimus nisi sed cum. Harum rerum quo repudiandae adipisci facere suscipit dolore sint eum. Minima enim expedita aliquid. Et facere incidunt fugit laborum. Voluptas qui accusamus quo qui et beatae fuga doloribus.\n \rAut facilis possimus vel perspiciatis occaecati quia autem. Eaque quia non est accusantium itaque dignissimos modi asperiores tempora. At dolorem eum sequi aliquid. Ut similique consequuntur voluptatem maiores dolorem quo aut eveniet quibusdam. Inventore fugit nemo illo error sit possimus.\n \rRerum consequatur voluptas itaque nesciunt sed quam sapiente. Vitae quia non nobis. Corrupti mollitia quia ex aspernatur ducimus perspiciatis tenetur. Id reprehenderit provident enim pariatur. Optio iste non perferendis qui pariatur. Et tempora omnis magnam ut aliquid doloribus repellendus eum."</span>
      }
    },
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Licenses"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Eaque est voluptatem iusto voluptates velit reprehenderit delectus. Veritatis et atque sunt eius consequatur exercitationem sed eum. Consequatur iusto vitae reprehenderit adipisci et eos ex reiciendis.\n \rQuod cum et vitae sapiente. Voluptatem esse aut sint quia enim et earum. Quas veniam ut culpa est doloremque. Maiores incidunt perferendis adipisci.\n \rError quos dolorum facere facilis voluptatum ea officia reprehenderit qui. Reiciendis rerum libero dolore labore porro perferendis veniam eius earum. Ducimus reprehenderit maxime vel ut repellendus. Sunt iure tenetur sed non vero mollitia et ea. Est est accusamus et tempore veniam ut."</span>
      }
    }
  ]
}</pre>
            
        
    </code>
</div>

    
    


    
    <div class="Browser-panel" data-role="tab-panel" id="browser-6a66c4a857a6990329d16a41d9ca266c-panel-info">
    <ul class="Meta">
        <li class="Meta-item">
            <strong class="Meta-key">Handle:</strong>
            <span class="Meta-value">@accordion--3</span>
        </li>
        
        
        
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Variants <em class="Meta-count">(3)</em>:</strong>
            <span class="Meta-value Meta-value--linkList">
            
                <a href="accordion--1.html">
                    <span>1</span>
                </a>, 
            
                <a href="accordion--2.html">
                    <span>2</span>
                </a>, 
            
                <a href="">
                    <span>3</span>
                </a>
            
            </span>
        </li>
        
        <li class="Meta-item">
            <strong class="Meta-key">Preview:</strong>
            <span class="Meta-value">
                <ul>
                    <li><a data-no-pjax href="../preview/accordion--3.html"><span>With layout</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                    <li><a data-no-pjax href="../render/accordion--3.html"><span>Component only</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                </ul>
            </span>
        </li>
        <li class="Meta-item">
            <strong class="Meta-key">Filesystem Path:</strong>
            <span class="Meta-value">elements/3-components/accordion--3.hbs</span>
        </li>
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Referenced by <em class="Meta-count">(1)</em>:</strong>
            <span class="Meta-value Meta-value--linkList">
            
                <a href="landing.html">@<span>landing</span></a>
            
            </span>
        </li>
        
    </ul>
</div>

    

</div>

</div>


    

</div>


            </div>
        </div>

        <div class="Frame-handle" data-role="frame-resize-handle"></div>
        
        <div class="Frame-panel Frame-panel--sidebar" data-role="sidebar">
            <nav class="Navigation">

    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-components">
    <h3 class="Tree-title">components</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-pages">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Pages</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="datasets.html" data-pjax>
                <span>Datasets</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="dmp.html" data-pjax>
                <span>DMP</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="landing.html" data-pjax>
                <span>Landing</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="project.html" data-pjax>
                <span>Project</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-templates">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Templates</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="step.html" data-pjax>
                <span>Step</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-components">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Components</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="abstract.html" data-pjax>
                <span>Abstract</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="accordion.html" data-pjax>
                <span>Accordion</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="contributor.html" data-pjax>
                <span>Contributor Type</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="description.html" data-pjax>
                <span>Description</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="description2.html" data-pjax>
                <span>Description 2</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="email.html" data-pjax>
                <span>Email</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="enddate.html" data-pjax>
                <span>End Date</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="ethical.html" data-pjax>
                <span>Ethical</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="ethicsreport.html" data-pjax>
                <span>Ethics Report</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="fieldgroup.html" data-pjax>
                <span>Field Group</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="footer.html" data-pjax>
                <span>Footer</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="funder.html" data-pjax>
                <span>Funder</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="fundingstatus.html" data-pjax>
                <span>Funding Status</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="grantid.html" data-pjax>
                <span>Grant ID</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="header.html" data-pjax>
                <span>Header</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="host.html" data-pjax>
                <span>Host</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="intro.html" data-pjax>
                <span>Introduction</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="keywords.html" data-pjax>
                <span>Keywords</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="language.html" data-pjax>
                <span>Language</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="logo.html" data-pjax>
                <span>Logo</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="name.html" data-pjax>
                <span>Name</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="orcid.html" data-pjax>
                <span>Orcid</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="orcidfield.html" data-pjax>
                <span>Orcid Field</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="organization.html" data-pjax>
                <span>Organization</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="other.html" data-pjax>
                <span>Other Staff</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="personal.html" data-pjax>
                <span>Personal</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="primary.html" data-pjax>
                <span>Primary Contact</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="progress.html" data-pjax>
                <span>Progress</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="report.html" data-pjax>
                <span>Report</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="required.html" data-pjax>
                <span>Required</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="sensitive.html" data-pjax>
                <span>Sensitive</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="startdate.html" data-pjax>
                <span>Start Date</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="summary.html" data-pjax>
                <span>Summary</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="title.html" data-pjax>
                <span>Title</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="title2.html" data-pjax>
                <span>Title 2</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="type.html" data-pjax>
                <span>Type</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-elements">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Elements</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="button.html" data-pjax>
                <span>Buttons</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="datalist.html" data-pjax>
                <span>Datalist</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="heading.html" data-pjax>
                <span>Heading</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="input.html" data-pjax>
                <span>Input</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="label.html" data-pjax>
                <span>Label</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="link.html" data-pjax>
                <span>Link</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="select.html" data-pjax>
                <span>Select</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="textarea.html" data-pjax>
                <span>Textarea</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    

    </ul>
</div>

</div>



    


    


</nav>

        </div>
    </div>
</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.2.1"></script>



</body>
</html>
