<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../themes/mandelbrot/favicon.ico" type="image/ico">

<link rel="stylesheet" href="../../themes/mandelbrot/css/default.css?cachebust=1.2.1" type="text/css">

<link rel="stylesheet" href="../../_subtheme/customizations.css?cachebust=1.2.1" type="text/css">


<title>Accordion: 3 | DMPHub UI Library</title>

</head>
<body>



<div class="Frame" id="frame">

    <div class="Frame-header">
        <div class="Header">
    <button class="Header-button Header-navToggle" data-action="toggle-sidebar">
        <svg class="Header-navToggleIcon Header-navToggleIcon--open" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

        <svg class="Header-navToggleIcon Header-navToggleIcon--closed" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
</svg>

    </button>
    <a href="../../index.html" class="Header-title" data-pjax>DMPHub UI Library</a>
</div>

    </div>

    <div class="Frame-body" data-role="body">

        <div class="Frame-panel Frame-panel--main" data-role="main">
            <div class="Frame-inner" id="pjax-container">
            


    
    

<div class="Pen" data-behaviour="pen" id="pen-6a66c4a857a6990329d16a41d9ca266c">

    

    <div class="Pen-panel Pen-header">
    <h1 class="Pen-title">
        <a class="Pen-previewLink" href="../preview/accordion--3.html" title="Component preview">
            Accordion: 3
            <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>

        </a>
    </h1>
    

<div class="Status Status--tag">

<label class="Status-label" style="background-color: #29CC29; border-color: #29CC29;">Ready</label>

</div>


</div>


    <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-6a66c4a857a6990329d16a41d9ca266c">
    <div class="Preview-wrapper" data-role="resizer">
        <div class="Preview-resizer">
            
             <iframe
                class="Preview-iframe"
                data-role="window"
                src="../preview/accordion--3.html"
                sandbox="allow-same-origin allow-scripts allow-forms allow-modals"
                 style=""
                marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" scrolling="yes">
            </iframe>
        </div>
        <div class="Preview-handle" data-role="resize-handle"></div>
        <div class="Preview-overlay"></div>
    </div>
</div>


    <div class="Pen-handle Pen-handle--browser" data-role="resize-handle"></div>

    <div class="Pen-panel Pen-info" data-role="info">
    <div class="Browser" data-behaviour="browser" id="browser-6a66c4a857a6990329d16a41d9ca266c">

    

<div class="Browser-controls">
    <ul class="Browser-tabs">
        
        
        <li class="Browser-tab Browser-tab--notes is-active " data-role="tab">
            <a href="#browser-6a66c4a857a6990329d16a41d9ca266c-panel-notes">Notes</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--html" data-role="tab">
            <a href="#browser-6a66c4a857a6990329d16a41d9ca266c-panel-html">HTML</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--view" data-role="tab">
            <a href="#browser-6a66c4a857a6990329d16a41d9ca266c-panel-view">View</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--context" data-role="tab">
            <a href="#browser-6a66c4a857a6990329d16a41d9ca266c-panel-context">Context</a>
        </li>
        
        
        
        
        
        
        
        <li class="Browser-tab Browser-tab--info" data-role="tab">
            <a href="#browser-6a66c4a857a6990329d16a41d9ca266c-panel-info">Info</a>
        </li>
        
        
    </ul>
</div>


    
    <div class="Browser-panel Browser-notes" data-role="tab-panel" id="browser-6a66c4a857a6990329d16a41d9ca266c-panel-notes">
    <div class="Prose Prose--condensed">
        
        <p class="Browser-isEmptyNote">There are no notes for this item.</p>
        
    </div>
</div>

    
    
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-6a66c4a857a6990329d16a41d9ca266c-panel-html">
    <code class="Code Code--lang-html">
        
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"accordion-distribution"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-accordion"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">details</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">summary</span>&gt;</span>Host<span class="hljs-tag">&lt;/<span class="hljs-name">summary</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-accordion__section"</span>&gt;</span>
            In laborum doloribus. Blanditiis eos repellendus et quibusdam in. Illum odio odio consequuntur rerum molestiae. Consequatur qui ab quaerat. Repudiandae itaque magnam pariatur. Libero accusantium nisi magni sapiente sit animi non. Aut eum non dicta totam
            quas. Quis voluptates quisquam. Enim ut quaerat quo consequatur odio hic. Delectus maiores alias molestiae fuga nulla facere velit sapiente aut. Pariatur laudantium quos laboriosam quia et ipsum sapiente culpa. Aliquam consequuntur sunt et
            ut beatae sit sit. Molestiae eum delectus nostrum impedit quia similique odio ea.
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">details</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">details</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">summary</span>&gt;</span>Licenses<span class="hljs-tag">&lt;/<span class="hljs-name">summary</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-accordion__section"</span>&gt;</span>
            Earum repellendus ratione sint quis est consequatur. Autem eos velit nostrum quibusdam perferendis suscipit aperiam. Explicabo qui aspernatur ab officiis perspiciatis quasi. Incidunt ut minus excepturi. Odit natus nulla eius optio nihil debitis. Ut animi
            laboriosam reprehenderit inventore veritatis quod sunt corporis et. Ut explicabo ab. Adipisci veniam aut et sed enim. Nisi dolorem cupiditate eos nobis. Tempora cupiditate eveniet qui et eligendi. Excepturi qui aut cupiditate dolores doloribus
            non voluptatem natus velit. Qui magnam rem. Omnis aut iusto est natus enim perspiciatis. Labore omnis perspiciatis qui itaque voluptates aut repudiandae nihil. Vel autem delectus aliquam et unde sit minus expedita excepturi. Praesentium veritatis
            temporibus mollitia nulla qui eos debitis. Occaecati omnis magni voluptatem et saepe mollitia.
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">details</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></pre>
        
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-6a66c4a857a6990329d16a41d9ca266c-panel-view">
    <code class="Code Code--lang-handlebars">
        <pre><span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"</span></span></span><span class="hljs-template-variable">{{ accordion.id3 }}</span><span class="xml"><span class="hljs-tag"><span class="hljs-string">"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-accordion"</span>&gt;</span>
  </span><span class="hljs-template-tag">{{#<span class="hljs-name"><span class="hljs-builtin-name">each</span></span> accordion3}}</span><span class="xml">
  <span class="hljs-tag">&lt;<span class="hljs-name">details</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">summary</span>&gt;</span></span><span class="hljs-template-variable">{{ accordion.label }}</span><span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-name">summary</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-accordion__section"</span>&gt;</span>
      </span><span class="hljs-template-variable">{{ accordion.content }}</span><span class="xml">
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">details</span>&gt;</span>
  </span><span class="hljs-template-tag">{{/<span class="hljs-name"><span class="hljs-builtin-name">each</span></span>}}</span><span class="xml">
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></span></pre>
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-6a66c4a857a6990329d16a41d9ca266c-panel-context">
    <code class="Code Code--lang-json">
        
            
            <pre>{
  <span class="hljs-attr">"accordion"</span>: {
    <span class="hljs-attr">"id1"</span>: <span class="hljs-string">"accordion-funding"</span>,
    <span class="hljs-attr">"id2"</span>: <span class="hljs-string">"accordion-datasets"</span>,
    <span class="hljs-attr">"id3"</span>: <span class="hljs-string">"accordion-distribution"</span>
  },
  <span class="hljs-attr">"accordion1"</span>: [
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Staff"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Nulla assumenda quis et consequatur nam itaque aspernatur praesentium libero. Quod sit impedit doloribus vero. Dolorum nesciunt velit libero. Voluptates rerum officia veritatis ducimus consectetur quae. Sunt debitis quae.\n \rIure labore et ea. Voluptas at omnis qui sit nihil. Eum quae aperiam sunt nihil quia.\n \rEt enim culpa quia quidem sunt velit minima voluptatum. Qui maxime aliquid. Nobis illum sed totam sed. Ducimus qui et pariatur unde molestiae veritatis recusandae officiis. Consequatur architecto dolorum quae numquam sed dolor quo dolorum occaecati."</span>
      }
    },
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Ethics"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Ducimus at assumenda voluptas culpa totam. Amet et ut omnis necessitatibus. Quae est aut ipsam et perspiciatis. Totam reprehenderit officiis deleniti nemo. Expedita delectus consectetur. Quas aut ea sapiente.\n \rFacere explicabo modi repellat id est eligendi repellendus. Ut similique non accusantium fuga ea similique et eius laborum. Maiores nulla hic modi consequatur aut. Asperiores aperiam quia et sequi amet optio similique molestias. Qui aut impedit et aut.\n \rEx sunt quo iure cum. Ab soluta magnam qui libero est placeat ad. Ullam deserunt autem."</span>
      }
    },
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Cost"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Voluptas quas qui pariatur alias itaque provident voluptas. Incidunt aut officiis modi provident sint et. Dolor quisquam corporis unde doloribus repellendus. Omnis accusamus est eveniet deleniti quia reiciendis. Rerum enim quos. Iste dolor aliquam repudiandae et et aliquam deleniti maiores voluptatem.\n \rEos non at rem. Alias est nulla et aut rem ipsam. Aliquid recusandae cum aut eos alias officia. Ab quis consequuntur aut doloremque est nisi qui aperiam. Quo odio voluptatibus.\n \rRerum distinctio debitis. Amet ab qui fugiat aut quia est illo cum incidunt. Illum qui consequatur enim culpa omnis."</span>
      }
    }
  ],
  <span class="hljs-attr">"accordion2"</span>: [
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Overview"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Officia dolor dolorum quis quo ratione autem. Quia nulla tempora et dolorem. Aspernatur velit qui laudantium sit officiis. Eos voluptas tempora voluptate magnam placeat.\n \rNobis possimus aut ea ut dicta et veniam mollitia cumque. Error dolorum et amet natus sit non culpa. Nihil et laudantium sed omnis ex officiis quibusdam provident. Unde sed omnis ab inventore rerum voluptate ratione voluptatem. Velit ut vel quia unde quibusdam autem ut mollitia est.\n \rExpedita non qui tempore culpa. Beatae laboriosam corrupti exercitationem hic. Culpa est et saepe qui rerum quam doloremque quidem voluptates. Maxime aut laudantium sed amet dolorum. Mollitia vero iste omnis eligendi error quas. Optio illo sapiente fugit ut."</span>
      }
    },
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Security and Privacy"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Aut ut possimus qui deleniti illo ea officia sed. Cupiditate laudantium earum saepe sunt. Ut architecto facilis eaque illum hic. Autem hic dolorem quibusdam est laudantium.\n \rDeserunt consectetur sed quidem. Temporibus exercitationem debitis doloribus enim quia culpa qui qui. Ipsa aut ipsam ex earum et temporibus nisi. Quis est voluptates beatae est ab provident quam. Doloremque doloremque quia.\n \rAlias quo qui dolores optio nobis accusantium commodi. Nihil aspernatur voluptate ut magnam inventore. Iure est et quia est maiores nobis dolorem. Facilis vel voluptas minus saepe. Est incidunt velit similique magnam in tenetur."</span>
      }
    },
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Technical Resources"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Consectetur nam maxime adipisci est et sit molestiae. Odit quo ex enim. Aut perspiciatis fugit sunt illum sit nostrum deleniti. Accusantium odit quam eum quidem pariatur qui magnam quod. Provident veniam sed et.\n \rAlias dolor qui aliquid. Ut dolores aliquid exercitationem exercitationem iusto. Praesentium qui placeat ad consequatur quod.\n \rIpsam dolore beatae minima voluptas tempore ratione minima. Cupiditate assumenda voluptatem. Temporibus optio aspernatur labore numquam voluptatum hic quae. Voluptas enim dolor qui atque soluta. Debitis omnis dolor."</span>
      }
    },
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Metadata"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Qui quis dolor perspiciatis est quia blanditiis. Et sed ea non in laborum et maxime et. Laborum id consequatur iste est quisquam. Quam eius quia soluta assumenda voluptatibus sit suscipit voluptatem. Id ea quo nulla asperiores nobis facere ut ea.\n \rEum velit quidem beatae fuga itaque repellat. Voluptatem et repellendus est unde velit. Doloremque et aliquam. Minus aut omnis.\n \rOptio fugit expedita quas qui. Et voluptatem ut et dicta non perferendis aspernatur rerum. Quia voluptas voluptatem dolorem recusandae voluptatem voluptas. Qui quia neque doloremque exercitationem culpa aut. Aut eaque cupiditate laudantium illo facilis enim et. Nam debitis non."</span>
      }
    },
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Distributions"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Autem excepturi itaque autem. Molestiae et autem aut inventore dolorem reprehenderit doloribus. Ratione molestiae ullam reprehenderit. Nihil modi et quibusdam amet hic deserunt non quibusdam. Consectetur cupiditate in ut quod. Ratione porro voluptatem tempore impedit architecto exercitationem eos.\n \rPlaceat in adipisci voluptas unde quisquam nulla sit. Nesciunt nam officia explicabo. Est libero ad.\n \rMagnam voluptate culpa quis quos repellat assumenda. Nulla accusantium sint hic. Error fuga velit voluptatem itaque sint in. Ea possimus quam adipisci necessitatibus soluta et culpa. Magni amet magnam earum voluptas aut necessitatibus. Soluta iusto accusantium id eius."</span>
      }
    }
  ],
  <span class="hljs-attr">"accordion3"</span>: [
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Host"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"In laborum doloribus. Blanditiis eos repellendus et quibusdam in. Illum odio odio consequuntur rerum molestiae. Consequatur qui ab quaerat.\n \rRepudiandae itaque magnam pariatur. Libero accusantium nisi magni sapiente sit animi non. Aut eum non dicta totam quas. Quis voluptates quisquam. Enim ut quaerat quo consequatur odio hic. Delectus maiores alias molestiae fuga nulla facere velit sapiente aut.\n \rPariatur laudantium quos laboriosam quia et ipsum sapiente culpa. Aliquam consequuntur sunt et ut beatae sit sit. Molestiae eum delectus nostrum impedit quia similique odio ea."</span>
      }
    },
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Licenses"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Earum repellendus ratione sint quis est consequatur. Autem eos velit nostrum quibusdam perferendis suscipit aperiam. Explicabo qui aspernatur ab officiis perspiciatis quasi. Incidunt ut minus excepturi. Odit natus nulla eius optio nihil debitis. Ut animi laboriosam reprehenderit inventore veritatis quod sunt corporis et.\n \rUt explicabo ab. Adipisci veniam aut et sed enim. Nisi dolorem cupiditate eos nobis. Tempora cupiditate eveniet qui et eligendi. Excepturi qui aut cupiditate dolores doloribus non voluptatem natus velit.\n \rQui magnam rem. Omnis aut iusto est natus enim perspiciatis. Labore omnis perspiciatis qui itaque voluptates aut repudiandae nihil. Vel autem delectus aliquam et unde sit minus expedita excepturi. Praesentium veritatis temporibus mollitia nulla qui eos debitis. Occaecati omnis magni voluptatem et saepe mollitia."</span>
      }
    }
  ]
}</pre>
            
        
    </code>
</div>

    
    


    
    <div class="Browser-panel" data-role="tab-panel" id="browser-6a66c4a857a6990329d16a41d9ca266c-panel-info">
    <ul class="Meta">
        <li class="Meta-item">
            <strong class="Meta-key">Handle:</strong>
            <span class="Meta-value">@accordion--3</span>
        </li>
        
        
        
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Variants <em class="Meta-count">(3)</em>:</strong>
            <span class="Meta-value Meta-value--linkList">
            
                <a href="accordion--1.html">
                    <span>1</span>
                </a>, 
            
                <a href="accordion--2.html">
                    <span>2</span>
                </a>, 
            
                <a href="">
                    <span>3</span>
                </a>
            
            </span>
        </li>
        
        <li class="Meta-item">
            <strong class="Meta-key">Preview:</strong>
            <span class="Meta-value">
                <ul>
                    <li><a data-no-pjax href="../preview/accordion--3.html"><span>With layout</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                    <li><a data-no-pjax href="../render/accordion--3.html"><span>Component only</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                </ul>
            </span>
        </li>
        <li class="Meta-item">
            <strong class="Meta-key">Filesystem Path:</strong>
            <span class="Meta-value">elements/3-components/accordion--3.hbs</span>
        </li>
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Referenced by <em class="Meta-count">(1)</em>:</strong>
            <span class="Meta-value Meta-value--linkList">
            
                <a href="landing.html">@<span>landing</span></a>
            
            </span>
        </li>
        
    </ul>
</div>

    

</div>

</div>


    

</div>


            </div>
        </div>

        <div class="Frame-handle" data-role="frame-resize-handle"></div>
        
        <div class="Frame-panel Frame-panel--sidebar" data-role="sidebar">
            <nav class="Navigation">

    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-components">
    <h3 class="Tree-title">components</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-pages">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Pages</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="datasets.html" data-pjax>
                <span>Datasets</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="dmp.html" data-pjax>
                <span>DMP</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="landing.html" data-pjax>
                <span>Landing</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="project.html" data-pjax>
                <span>Project</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-templates">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Templates</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="step.html" data-pjax>
                <span>Step</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-components">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Components</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="abstract.html" data-pjax>
                <span>Abstract</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="accordion.html" data-pjax>
                <span>Accordion</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="contributor.html" data-pjax>
                <span>Contributor Type</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="description.html" data-pjax>
                <span>Description</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="description2.html" data-pjax>
                <span>Description 2</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="email.html" data-pjax>
                <span>Email</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="enddate.html" data-pjax>
                <span>End Date</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="ethical.html" data-pjax>
                <span>Ethical</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="ethicsreport.html" data-pjax>
                <span>Ethics Report</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="fieldgroup.html" data-pjax>
                <span>Field Group</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="footer.html" data-pjax>
                <span>Footer</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="funder.html" data-pjax>
                <span>Funder</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="fundingstatus.html" data-pjax>
                <span>Funding Status</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="grantid.html" data-pjax>
                <span>Grant ID</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="header.html" data-pjax>
                <span>Header</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="host.html" data-pjax>
                <span>Host</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="intro.html" data-pjax>
                <span>Introduction</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="keywords.html" data-pjax>
                <span>Keywords</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="language.html" data-pjax>
                <span>Language</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="logo.html" data-pjax>
                <span>Logo</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="name.html" data-pjax>
                <span>Name</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="orcid.html" data-pjax>
                <span>Orcid</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="orcidfield.html" data-pjax>
                <span>Orcid Field</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="organization.html" data-pjax>
                <span>Organization</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="other.html" data-pjax>
                <span>Other Staff</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="personal.html" data-pjax>
                <span>Personal</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="primary.html" data-pjax>
                <span>Primary Contact</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="progress.html" data-pjax>
                <span>Progress</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="report.html" data-pjax>
                <span>Report</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="required.html" data-pjax>
                <span>Required</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="sensitive.html" data-pjax>
                <span>Sensitive</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="startdate.html" data-pjax>
                <span>Start Date</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="summary.html" data-pjax>
                <span>Summary</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="title.html" data-pjax>
                <span>Title</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="title2.html" data-pjax>
                <span>Title 2</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="type.html" data-pjax>
                <span>Type</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-elements">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Elements</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="button.html" data-pjax>
                <span>Buttons</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="datalist.html" data-pjax>
                <span>Datalist</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="heading.html" data-pjax>
                <span>Heading</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="input.html" data-pjax>
                <span>Input</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="label.html" data-pjax>
                <span>Label</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="link.html" data-pjax>
                <span>Link</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="select.html" data-pjax>
                <span>Select</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="textarea.html" data-pjax>
                <span>Textarea</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    

    </ul>
</div>

</div>



    


    


</nav>

        </div>
    </div>
</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.2.1"></script>



</body>
</html>
