<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../themes/mandelbrot/favicon.ico" type="image/ico">

<link rel="stylesheet" href="../../themes/mandelbrot/css/default.css?cachebust=1.2.1" type="text/css">

<link rel="stylesheet" href="../../_subtheme/customizations.css?cachebust=1.2.1" type="text/css">


<title>Accordion: 3 | DMPHub UI Library</title>

</head>
<body>



<div class="Frame" id="frame">

    <div class="Frame-header">
        <div class="Header">
    <button class="Header-button Header-navToggle" data-action="toggle-sidebar">
        <svg class="Header-navToggleIcon Header-navToggleIcon--open" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

        <svg class="Header-navToggleIcon Header-navToggleIcon--closed" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
</svg>

    </button>
    <a href="../../index.html" class="Header-title" data-pjax>DMPHub UI Library</a>
</div>

    </div>

    <div class="Frame-body" data-role="body">

        <div class="Frame-panel Frame-panel--main" data-role="main">
            <div class="Frame-inner" id="pjax-container">
            


    
    

<div class="Pen" data-behaviour="pen" id="pen-6a66c4a857a6990329d16a41d9ca266c">

    

    <div class="Pen-panel Pen-header">
    <h1 class="Pen-title">
        <a class="Pen-previewLink" href="../preview/accordion--3.html" title="Component preview">
            Accordion: 3
            <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>

        </a>
    </h1>
    

<div class="Status Status--tag">

<label class="Status-label" style="background-color: #29CC29; border-color: #29CC29;">Ready</label>

</div>


</div>


    <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-6a66c4a857a6990329d16a41d9ca266c">
    <div class="Preview-wrapper" data-role="resizer">
        <div class="Preview-resizer">
            
             <iframe
                class="Preview-iframe"
                data-role="window"
                src="../preview/accordion--3.html"
                sandbox="allow-same-origin allow-scripts allow-forms allow-modals"
                 style=""
                marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" scrolling="yes">
            </iframe>
        </div>
        <div class="Preview-handle" data-role="resize-handle"></div>
        <div class="Preview-overlay"></div>
    </div>
</div>


    <div class="Pen-handle Pen-handle--browser" data-role="resize-handle"></div>

    <div class="Pen-panel Pen-info" data-role="info">
    <div class="Browser" data-behaviour="browser" id="browser-6a66c4a857a6990329d16a41d9ca266c">

    

<div class="Browser-controls">
    <ul class="Browser-tabs">
        
        
        <li class="Browser-tab Browser-tab--notes is-active " data-role="tab">
            <a href="#browser-6a66c4a857a6990329d16a41d9ca266c-panel-notes">Notes</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--html" data-role="tab">
            <a href="#browser-6a66c4a857a6990329d16a41d9ca266c-panel-html">HTML</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--view" data-role="tab">
            <a href="#browser-6a66c4a857a6990329d16a41d9ca266c-panel-view">View</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--context" data-role="tab">
            <a href="#browser-6a66c4a857a6990329d16a41d9ca266c-panel-context">Context</a>
        </li>
        
        
        
        
        
        
        
        <li class="Browser-tab Browser-tab--info" data-role="tab">
            <a href="#browser-6a66c4a857a6990329d16a41d9ca266c-panel-info">Info</a>
        </li>
        
        
    </ul>
</div>


    
    <div class="Browser-panel Browser-notes" data-role="tab-panel" id="browser-6a66c4a857a6990329d16a41d9ca266c-panel-notes">
    <div class="Prose Prose--condensed">
        
        <p class="Browser-isEmptyNote">There are no notes for this item.</p>
        
    </div>
</div>

    
    
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-6a66c4a857a6990329d16a41d9ca266c-panel-html">
    <code class="Code Code--lang-html">
        
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"accordion-distribution"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-accordion"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">details</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">summary</span>&gt;</span>Host<span class="hljs-tag">&lt;/<span class="hljs-name">summary</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-accordion__section"</span>&gt;</span>
            Consectetur est voluptatem earum est rem deleniti dolor sit. Aut aut ea recusandae. Voluptas accusantium commodi ex. Est ex nam maxime quo ratione ex voluptatem. Sit asperiores quia in est. Corrupti quam quaerat maxime fuga minus cum doloribus a inventore.
            Alias dignissimos voluptatibus natus. Aut id sed sit illo et minus molestiae amet a. Qui fugiat quas quo eveniet quasi. Dicta nemo consequatur fugit. Eum vero nulla incidunt et possimus eos corrupti.
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">details</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">details</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">summary</span>&gt;</span>Licenses<span class="hljs-tag">&lt;/<span class="hljs-name">summary</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-accordion__section"</span>&gt;</span>
            Quasi quo officia rerum corrupti est. Autem et dolores. Eos odit laborum similique aut. Eos sit necessitatibus expedita maiores fuga doloribus velit. Et est nemo reiciendis eum officiis et delectus dolor. Labore rerum quidem eligendi eum ab libero amet
            et. Vitae molestiae et dolor et necessitatibus odit omnis voluptas. Reiciendis qui dignissimos assumenda et. Rerum natus voluptatem omnis. Fugit eos doloribus est. Atque maxime animi dignissimos ullam quisquam aspernatur ad assumenda odio.
            Nobis voluptas aut expedita et atque est. Illo dicta dolores. Animi quia eveniet cum non.
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">details</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></pre>
        
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-6a66c4a857a6990329d16a41d9ca266c-panel-view">
    <code class="Code Code--lang-handlebars">
        <pre><span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"</span></span></span><span class="hljs-template-variable">{{ accordion.id3 }}</span><span class="xml"><span class="hljs-tag"><span class="hljs-string">"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-accordion"</span>&gt;</span>
  </span><span class="hljs-template-tag">{{#<span class="hljs-name"><span class="hljs-builtin-name">each</span></span> accordion3}}</span><span class="xml">
  <span class="hljs-tag">&lt;<span class="hljs-name">details</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">summary</span>&gt;</span></span><span class="hljs-template-variable">{{ accordion.label }}</span><span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-name">summary</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-accordion__section"</span>&gt;</span>
      </span><span class="hljs-template-variable">{{ accordion.content }}</span><span class="xml">
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">details</span>&gt;</span>
  </span><span class="hljs-template-tag">{{/<span class="hljs-name"><span class="hljs-builtin-name">each</span></span>}}</span><span class="xml">
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></span></pre>
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-6a66c4a857a6990329d16a41d9ca266c-panel-context">
    <code class="Code Code--lang-json">
        
            
            <pre>{
  <span class="hljs-attr">"accordion"</span>: {
    <span class="hljs-attr">"id1"</span>: <span class="hljs-string">"accordion-funding"</span>,
    <span class="hljs-attr">"id2"</span>: <span class="hljs-string">"accordion-datasets"</span>,
    <span class="hljs-attr">"id3"</span>: <span class="hljs-string">"accordion-distribution"</span>
  },
  <span class="hljs-attr">"accordion1"</span>: [
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Staff"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Eligendi fuga maxime et qui. Modi laborum veritatis ut aliquid ad facilis qui. Ea qui qui laboriosam ut. Libero ea ab et et excepturi deserunt accusamus. Saepe est omnis molestias repellat beatae unde nesciunt. Reiciendis dolor architecto consequatur.\n \rVeritatis amet consequuntur nam consequatur id optio provident fugit. Rerum et tenetur pariatur qui ea adipisci placeat quod enim. A et libero. Explicabo sed est dolor. Totam recusandae omnis doloribus iusto. Deleniti ea adipisci blanditiis ut alias pariatur facere veritatis numquam.\n \rEius vitae consequuntur excepturi dolorem voluptatum cumque adipisci delectus. Veritatis laboriosam reprehenderit ut et consequuntur temporibus sit. Qui voluptates neque quo dolorem quidem nihil. At fugiat velit ea quia cupiditate iure et at et. Soluta sit molestiae nulla."</span>
      }
    },
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Ethics"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Odit quos consequatur. Cumque quia ipsa. Libero nihil beatae dicta quasi dolore.\n \rQui officia sit vel et voluptatum eligendi quaerat dolore impedit. Voluptatem adipisci aut magni repudiandae. Quos praesentium qui commodi omnis tempore. Quisquam et perferendis rerum illum ut reiciendis rerum enim. Facere totam nihil sapiente similique temporibus et quis quaerat. Asperiores qui voluptas soluta nam aut.\n \rExplicabo dignissimos et quia. Veritatis quia quia repellendus. Dolorem velit officia. Laudantium cum architecto. Aut accusamus laboriosam."</span>
      }
    },
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Cost"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Et tenetur accusantium et error enim voluptatum quaerat magnam. Veniam ipsum qui iusto sit vel. Suscipit modi eius veritatis et fuga consectetur accusantium impedit iure. Voluptatem aspernatur officia saepe.\n \rCulpa temporibus minus pariatur qui esse error qui consequatur velit. Labore sed est provident fugiat et sit unde voluptatem voluptate. Sequi delectus id praesentium maxime nemo aut. Blanditiis quia qui libero neque aliquam. Minima dolor voluptas accusamus cumque. Tempore non fugit.\n \rQuo sint a velit commodi. Voluptate rerum atque voluptatem quam. Fuga sed ea nobis fugit."</span>
      }
    }
  ],
  <span class="hljs-attr">"accordion2"</span>: [
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Overview"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Eos sit qui recusandae tempora qui accusantium occaecati veritatis. Accusamus enim et atque. Non aut quisquam at tempore. Omnis maxime sit nesciunt sequi. Dolorum nihil enim id aut illo omnis qui.\n \rAut ea eum reiciendis molestias tempora sed ipsa. Aliquam voluptatum temporibus laboriosam commodi deleniti velit voluptates quod quia. Voluptates voluptatem reprehenderit enim ea nemo modi. Voluptas assumenda ullam qui. Ab eaque sunt voluptates eaque quod.\n \rBlanditiis asperiores alias qui placeat ut qui ex et. Et ea aut aut ut architecto modi culpa occaecati. Aut est id. Totam voluptas impedit qui ex. Corrupti velit omnis sequi fuga sunt nobis cumque commodi et."</span>
      }
    },
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Security and Privacy"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Autem dolore incidunt quaerat rem. Autem nobis voluptatem. Dolores earum doloribus. Pariatur illum voluptate sunt. Voluptatibus consequuntur dicta similique veritatis aperiam quae tempore magni. Qui neque unde quo quis quos.\n \rEst omnis omnis facere sunt nobis. Quidem minima rerum dolorem sed eos libero qui. Aliquam quae dolorem hic quas. Tempora sapiente error quod eum enim aliquam iste facere. Quia molestiae culpa. Sit culpa exercitationem incidunt.\n \rAlias rerum est esse totam. Nam earum et vel culpa error. Facere autem voluptas sed molestiae minima reprehenderit quo. Voluptas praesentium aut ut eaque consectetur labore quos nesciunt. Totam illum expedita quae sed accusantium quis fugiat sed cum."</span>
      }
    },
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Technical Resources"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Numquam odio quia numquam rerum dolor et. Voluptas soluta in sed quis numquam provident quae nam sed. Tempore reiciendis rem beatae accusamus. Soluta voluptas doloribus architecto corrupti. Nemo debitis quas minima facilis aperiam qui provident.\n \rVel explicabo rerum qui et est. Doloribus perferendis ab nam nostrum quaerat sapiente neque enim. Est voluptatum labore.\n \rNemo assumenda consequatur. Optio inventore ut officia quia sed cupiditate. Repellendus eos quae ratione nesciunt repellendus ratione ipsum. Consequuntur quibusdam deserunt magni doloremque natus in aut est ducimus. Adipisci voluptates atque praesentium quaerat ad ipsa odit ipsum mollitia. Expedita ipsum in reprehenderit libero consectetur voluptatem."</span>
      }
    },
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Metadata"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Quia nisi qui in. Nihil rerum voluptatem reiciendis et nostrum culpa. Qui distinctio qui non. Et dolores illum nihil. Dolores et sapiente voluptatem.\n \rUt culpa sit et omnis. Amet harum non quis quo delectus neque. Doloribus ut ut. Debitis odit nesciunt et reiciendis quidem molestiae nihil. Excepturi inventore omnis veritatis dolor. Aut nisi accusantium ea blanditiis nam soluta hic quos nobis.\n \rVoluptatem est distinctio molestias asperiores ad soluta provident. Aut voluptatem magnam ut et ullam quis. Quam molestias fuga quam facere."</span>
      }
    },
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Distributions"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Vero illum enim dicta voluptatem quidem consequatur consequuntur. Atque praesentium qui officia asperiores et architecto omnis laborum placeat. Consequuntur ea recusandae repellendus a voluptatum corporis officiis. Vitae quis harum vel sapiente incidunt. Iste at dolores ipsum quia veritatis qui voluptatibus esse.\n \rOfficiis qui ipsum praesentium ex quis numquam asperiores iusto necessitatibus. Dolorem deleniti est placeat consequuntur est. Rerum quo sit sed veritatis modi quasi. Voluptatum maiores ex repellat. Vel dolores enim quis sequi numquam odit.\n \rEsse impedit assumenda eligendi necessitatibus consequatur exercitationem rerum rem. Perspiciatis excepturi nam quaerat sit incidunt. Harum necessitatibus voluptatem non illum magnam qui fugiat. Non pariatur quae nihil suscipit rerum quidem repudiandae cupiditate vero. Possimus alias sed adipisci sit enim similique."</span>
      }
    }
  ],
  <span class="hljs-attr">"accordion3"</span>: [
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Host"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Consectetur est voluptatem earum est rem deleniti dolor sit. Aut aut ea recusandae. Voluptas accusantium commodi ex.\n \rEst ex nam maxime quo ratione ex voluptatem. Sit asperiores quia in est. Corrupti quam quaerat maxime fuga minus cum doloribus a inventore. Alias dignissimos voluptatibus natus.\n \rAut id sed sit illo et minus molestiae amet a. Qui fugiat quas quo eveniet quasi. Dicta nemo consequatur fugit. Eum vero nulla incidunt et possimus eos corrupti."</span>
      }
    },
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Licenses"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Quasi quo officia rerum corrupti est. Autem et dolores. Eos odit laborum similique aut. Eos sit necessitatibus expedita maiores fuga doloribus velit.\n \rEt est nemo reiciendis eum officiis et delectus dolor. Labore rerum quidem eligendi eum ab libero amet et. Vitae molestiae et dolor et necessitatibus odit omnis voluptas. Reiciendis qui dignissimos assumenda et.\n \rRerum natus voluptatem omnis. Fugit eos doloribus est. Atque maxime animi dignissimos ullam quisquam aspernatur ad assumenda odio. Nobis voluptas aut expedita et atque est. Illo dicta dolores. Animi quia eveniet cum non."</span>
      }
    }
  ]
}</pre>
            
        
    </code>
</div>

    
    


    
    <div class="Browser-panel" data-role="tab-panel" id="browser-6a66c4a857a6990329d16a41d9ca266c-panel-info">
    <ul class="Meta">
        <li class="Meta-item">
            <strong class="Meta-key">Handle:</strong>
            <span class="Meta-value">@accordion--3</span>
        </li>
        
        
        
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Variants <em class="Meta-count">(3)</em>:</strong>
            <span class="Meta-value Meta-value--linkList">
            
                <a href="accordion--1.html">
                    <span>1</span>
                </a>, 
            
                <a href="accordion--2.html">
                    <span>2</span>
                </a>, 
            
                <a href="">
                    <span>3</span>
                </a>
            
            </span>
        </li>
        
        <li class="Meta-item">
            <strong class="Meta-key">Preview:</strong>
            <span class="Meta-value">
                <ul>
                    <li><a data-no-pjax href="../preview/accordion--3.html"><span>With layout</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                    <li><a data-no-pjax href="../render/accordion--3.html"><span>Component only</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                </ul>
            </span>
        </li>
        <li class="Meta-item">
            <strong class="Meta-key">Filesystem Path:</strong>
            <span class="Meta-value">elements/3-components/accordion--3.hbs</span>
        </li>
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Referenced by <em class="Meta-count">(1)</em>:</strong>
            <span class="Meta-value Meta-value--linkList">
            
                <a href="landing.html">@<span>landing</span></a>
            
            </span>
        </li>
        
    </ul>
</div>

    

</div>

</div>


    

</div>


            </div>
        </div>

        <div class="Frame-handle" data-role="frame-resize-handle"></div>
        
        <div class="Frame-panel Frame-panel--sidebar" data-role="sidebar">
            <nav class="Navigation">

    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-components">
    <h3 class="Tree-title">components</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-pages">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Pages</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="datasets.html" data-pjax>
                <span>Datasets</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="dmp.html" data-pjax>
                <span>DMP</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="landing.html" data-pjax>
                <span>Landing</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="project.html" data-pjax>
                <span>Project</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-templates">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Templates</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="step.html" data-pjax>
                <span>Step</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-components">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Components</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="abstract.html" data-pjax>
                <span>Abstract</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="accordion.html" data-pjax>
                <span>Accordion</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="contributor.html" data-pjax>
                <span>Contributor Type</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="description.html" data-pjax>
                <span>Description</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="description2.html" data-pjax>
                <span>Description 2</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="email.html" data-pjax>
                <span>Email</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="enddate.html" data-pjax>
                <span>End Date</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="ethical.html" data-pjax>
                <span>Ethical</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="ethicsreport.html" data-pjax>
                <span>Ethics Report</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="fieldgroup.html" data-pjax>
                <span>Field Group</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="footer.html" data-pjax>
                <span>Footer</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="funder.html" data-pjax>
                <span>Funder</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="fundingstatus.html" data-pjax>
                <span>Funding Status</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="grantid.html" data-pjax>
                <span>Grant ID</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="header.html" data-pjax>
                <span>Header</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="host.html" data-pjax>
                <span>Host</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="intro.html" data-pjax>
                <span>Introduction</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="keywords.html" data-pjax>
                <span>Keywords</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="language.html" data-pjax>
                <span>Language</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="logo.html" data-pjax>
                <span>Logo</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="name.html" data-pjax>
                <span>Name</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="orcid.html" data-pjax>
                <span>Orcid</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="orcidfield.html" data-pjax>
                <span>Orcid Field</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="organization.html" data-pjax>
                <span>Organization</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="personal.html" data-pjax>
                <span>Personal</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="primary.html" data-pjax>
                <span>Primary Contact</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="progress.html" data-pjax>
                <span>Progress</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="report.html" data-pjax>
                <span>Report</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="required.html" data-pjax>
                <span>Required</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="sensitive.html" data-pjax>
                <span>Sensitive</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="startdate.html" data-pjax>
                <span>Start Date</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="summary.html" data-pjax>
                <span>Summary</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="title.html" data-pjax>
                <span>Title</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="title2.html" data-pjax>
                <span>Title 2</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="type.html" data-pjax>
                <span>Type</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-elements">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Elements</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="button.html" data-pjax>
                <span>Buttons</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="datalist.html" data-pjax>
                <span>Datalist</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="heading.html" data-pjax>
                <span>Heading</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="input.html" data-pjax>
                <span>Input</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="label.html" data-pjax>
                <span>Label</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="link.html" data-pjax>
                <span>Link</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="select.html" data-pjax>
                <span>Select</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="textarea.html" data-pjax>
                <span>Textarea</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    

    </ul>
</div>

</div>



    


    


</nav>

        </div>
    </div>
</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.2.1"></script>



</body>
</html>
