<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../themes/mandelbrot/favicon.ico" type="image/ico">

<link rel="stylesheet" href="../../themes/mandelbrot/css/default.css?cachebust=1.2.1" type="text/css">

<link rel="stylesheet" href="../../_subtheme/customizations.css?cachebust=1.2.1" type="text/css">


<title>Accordion: 1 | DMPHub UI Library</title>

</head>
<body>



<div class="Frame" id="frame">

    <div class="Frame-header">
        <div class="Header">
    <button class="Header-button Header-navToggle" data-action="toggle-sidebar">
        <svg class="Header-navToggleIcon Header-navToggleIcon--open" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

        <svg class="Header-navToggleIcon Header-navToggleIcon--closed" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
</svg>

    </button>
    <a href="../../index.html" class="Header-title" data-pjax>DMPHub UI Library</a>
</div>

    </div>

    <div class="Frame-body" data-role="body">

        <div class="Frame-panel Frame-panel--main" data-role="main">
            <div class="Frame-inner" id="pjax-container">
            


    
    

<div class="Pen" data-behaviour="pen" id="pen-7bc6afcb3eaf41b90d9ed7e92343c0b6">

    

    <div class="Pen-panel Pen-header">
    <h1 class="Pen-title">
        <a class="Pen-previewLink" href="../preview/accordion--1.html" title="Component preview">
            Accordion: 1
            <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>

        </a>
    </h1>
    

<div class="Status Status--tag">

<label class="Status-label" style="background-color: #29CC29; border-color: #29CC29;">Ready</label>

</div>


</div>


    <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-7bc6afcb3eaf41b90d9ed7e92343c0b6">
    <div class="Preview-wrapper" data-role="resizer">
        <div class="Preview-resizer">
            
             <iframe
                class="Preview-iframe"
                data-role="window"
                src="../preview/accordion--1.html"
                sandbox="allow-same-origin allow-scripts allow-forms allow-modals"
                 style=""
                marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" scrolling="yes">
            </iframe>
        </div>
        <div class="Preview-handle" data-role="resize-handle"></div>
        <div class="Preview-overlay"></div>
    </div>
</div>


    <div class="Pen-handle Pen-handle--browser" data-role="resize-handle"></div>

    <div class="Pen-panel Pen-info" data-role="info">
    <div class="Browser" data-behaviour="browser" id="browser-7bc6afcb3eaf41b90d9ed7e92343c0b6">

    

<div class="Browser-controls">
    <ul class="Browser-tabs">
        
        
        <li class="Browser-tab Browser-tab--notes is-active " data-role="tab">
            <a href="#browser-7bc6afcb3eaf41b90d9ed7e92343c0b6-panel-notes">Notes</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--html" data-role="tab">
            <a href="#browser-7bc6afcb3eaf41b90d9ed7e92343c0b6-panel-html">HTML</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--view" data-role="tab">
            <a href="#browser-7bc6afcb3eaf41b90d9ed7e92343c0b6-panel-view">View</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--context" data-role="tab">
            <a href="#browser-7bc6afcb3eaf41b90d9ed7e92343c0b6-panel-context">Context</a>
        </li>
        
        
        
        
        
        
        
        
        
        <li class="Browser-tab Browser-tab--info" data-role="tab">
            <a href="#browser-7bc6afcb3eaf41b90d9ed7e92343c0b6-panel-info">Info</a>
        </li>
        
        
    </ul>
</div>


    
    <div class="Browser-panel Browser-notes" data-role="tab-panel" id="browser-7bc6afcb3eaf41b90d9ed7e92343c0b6-panel-notes">
    <div class="Prose Prose--condensed">
        
        <p class="Browser-isEmptyNote">There are no notes for this item.</p>
        
    </div>
</div>

    
    
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-7bc6afcb3eaf41b90d9ed7e92343c0b6-panel-html">
    <code class="Code Code--lang-html">
        
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"accordion-funding"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-accordion"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">details</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">summary</span>&gt;</span>Staff<span class="hljs-tag">&lt;/<span class="hljs-name">summary</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-accordion__section"</span>&gt;</span>
            Maiores ullam quia consectetur consequatur illum tempora. Voluptate et nisi et. Eum et modi saepe autem suscipit illum qui dolorum. Rem nemo hic dolorem laudantium esse quidem. Rerum voluptas earum sit ratione laborum. Quod numquam sunt iure. Eius alias
            sed similique vel iste nostrum dolores. Id nisi et reprehenderit ipsum eius alias sequi fuga. Ducimus modi veniam. Quod voluptate natus dolorum sed impedit quaerat. Consequatur repudiandae natus deleniti excepturi reprehenderit modi magnam
            vel ab. Nobis officiis quia ratione debitis adipisci est. Quos at voluptas ea. Recusandae excepturi ut eius in cum. Sed sit eius magnam porro ab aut iusto.
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">details</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">details</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">summary</span>&gt;</span>Ethics<span class="hljs-tag">&lt;/<span class="hljs-name">summary</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-accordion__section"</span>&gt;</span>
            Reprehenderit nam id quam quibusdam odio voluptatem. Aut quia tenetur id exercitationem. Vero aliquid sapiente iusto eos et. Consectetur voluptas odit est rerum. Ipsum dolores alias sequi sed et sit molestiae animi. Soluta reiciendis excepturi voluptatem.
            Deserunt dolores quisquam consequatur dolorem tempora quia sit. Quis dolorem quaerat dolor error occaecati. Quas ducimus voluptates dolor dolores laboriosam sit nisi. Consequatur totam doloremque magnam ipsum est eveniet iusto sint. Quos quo
            quia id id ut consequatur.
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">details</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">details</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">summary</span>&gt;</span>Cost<span class="hljs-tag">&lt;/<span class="hljs-name">summary</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-accordion__section"</span>&gt;</span>
            Sint iste aut facilis beatae voluptates autem repudiandae. Id qui magni. Quo quas quibusdam quidem. Similique et eaque sed. Exercitationem blanditiis est corporis animi pariatur et amet nesciunt delectus. Quaerat ut tempora quia perspiciatis sed. Est
            ullam ipsam quia. Ullam fugiat placeat et quia eos suscipit architecto. Nemo et incidunt pariatur et dicta suscipit sint animi. Ut est cupiditate necessitatibus nesciunt alias. Cumque quia qui. Quas iste consequatur cumque id nulla. Qui ut
            in dolores ea dolorum voluptas reiciendis eaque.
        <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">details</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></pre>
        
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-7bc6afcb3eaf41b90d9ed7e92343c0b6-panel-view">
    <code class="Code Code--lang-handlebars">
        <pre><span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"</span></span></span><span class="hljs-template-variable">{{ accordion.id1 }}</span><span class="xml"><span class="hljs-tag"><span class="hljs-string">"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-accordion"</span>&gt;</span>
  </span><span class="hljs-template-tag">{{#<span class="hljs-name"><span class="hljs-builtin-name">each</span></span> accordion1}}</span><span class="xml">
  <span class="hljs-tag">&lt;<span class="hljs-name">details</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">summary</span>&gt;</span></span><span class="hljs-template-variable">{{ accordion.label }}</span><span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-name">summary</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"c-accordion__section"</span>&gt;</span>
      </span><span class="hljs-template-variable">{{ accordion.content }}</span><span class="xml">
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">details</span>&gt;</span>
  </span><span class="hljs-template-tag">{{/<span class="hljs-name"><span class="hljs-builtin-name">each</span></span>}}</span><span class="xml">
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></span></pre>
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-7bc6afcb3eaf41b90d9ed7e92343c0b6-panel-context">
    <code class="Code Code--lang-json">
        
            
            <pre>{
  <span class="hljs-attr">"accordion"</span>: {
    <span class="hljs-attr">"id1"</span>: <span class="hljs-string">"accordion-funding"</span>,
    <span class="hljs-attr">"id2"</span>: <span class="hljs-string">"accordion-datasets"</span>,
    <span class="hljs-attr">"id3"</span>: <span class="hljs-string">"accordion-distribution"</span>
  },
  <span class="hljs-attr">"accordion1"</span>: [
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Staff"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Maiores ullam quia consectetur consequatur illum tempora. Voluptate et nisi et. Eum et modi saepe autem suscipit illum qui dolorum. Rem nemo hic dolorem laudantium esse quidem. Rerum voluptas earum sit ratione laborum. Quod numquam sunt iure.\n \rEius alias sed similique vel iste nostrum dolores. Id nisi et reprehenderit ipsum eius alias sequi fuga. Ducimus modi veniam. Quod voluptate natus dolorum sed impedit quaerat. Consequatur repudiandae natus deleniti excepturi reprehenderit modi magnam vel ab.\n \rNobis officiis quia ratione debitis adipisci est. Quos at voluptas ea. Recusandae excepturi ut eius in cum. Sed sit eius magnam porro ab aut iusto."</span>
      }
    },
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Ethics"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Reprehenderit nam id quam quibusdam odio voluptatem. Aut quia tenetur id exercitationem. Vero aliquid sapiente iusto eos et. Consectetur voluptas odit est rerum.\n \rIpsum dolores alias sequi sed et sit molestiae animi. Soluta reiciendis excepturi voluptatem. Deserunt dolores quisquam consequatur dolorem tempora quia sit. Quis dolorem quaerat dolor error occaecati.\n \rQuas ducimus voluptates dolor dolores laboriosam sit nisi. Consequatur totam doloremque magnam ipsum est eveniet iusto sint. Quos quo quia id id ut consequatur."</span>
      }
    },
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Cost"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Sint iste aut facilis beatae voluptates autem repudiandae. Id qui magni. Quo quas quibusdam quidem. Similique et eaque sed.\n \rExercitationem blanditiis est corporis animi pariatur et amet nesciunt delectus. Quaerat ut tempora quia perspiciatis sed. Est ullam ipsam quia. Ullam fugiat placeat et quia eos suscipit architecto. Nemo et incidunt pariatur et dicta suscipit sint animi. Ut est cupiditate necessitatibus nesciunt alias.\n \rCumque quia qui. Quas iste consequatur cumque id nulla. Qui ut in dolores ea dolorum voluptas reiciendis eaque."</span>
      }
    }
  ],
  <span class="hljs-attr">"accordion2"</span>: [
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Overview"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Magnam non rerum sed consequatur et eaque aliquam quod porro. Et laboriosam tempora culpa qui quae voluptatum soluta assumenda. Beatae exercitationem molestiae et quaerat et earum perferendis eos.\n \rAut nihil voluptatem dignissimos earum velit ea dignissimos soluta sint. Ut rerum totam delectus consequatur sint illum voluptas vel error. Sed molestiae qui.\n \rCorrupti ea aliquid vero nihil et et sequi at ullam. Officiis ea debitis aut quidem vero itaque id in quia. Est ducimus sed. Excepturi sint cumque et. Consequatur unde enim provident."</span>
      }
    },
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Security and Privacy"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Voluptas doloribus sint tempora unde est reprehenderit aut. Possimus ea magnam perferendis velit vero. Alias asperiores sapiente excepturi ut voluptas aperiam voluptates sint. Assumenda in sit dolor dolorem. Distinctio expedita consequatur magni. Optio non dolorem iusto voluptatibus quia modi et.\n \rEos ut repudiandae quis. Perferendis reprehenderit error ipsum. Qui corporis dolores dolores eos.\n \rDolor repellat ea velit molestiae a asperiores eius nobis dolorum. Vel ut aut. Asperiores unde repellat perferendis omnis incidunt nihil nisi excepturi. Atque velit a labore soluta exercitationem dolores nisi voluptatum. Eaque eveniet consequatur est aut laudantium voluptas labore. Exercitationem est ratione itaque molestias non tempora."</span>
      }
    },
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Technical Resources"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Provident in aut consequatur molestiae corporis. Expedita placeat est occaecati est perspiciatis unde maxime est. Consectetur voluptatem autem qui cupiditate ut ut.\n \rExpedita reprehenderit voluptatibus ipsum rerum. Sit architecto exercitationem modi delectus aut est rerum. Qui expedita temporibus nesciunt quam molestiae voluptatem et. Dolore maxime ut rerum et non cupiditate aut voluptas ratione.\n \rQuae libero id sit et et qui nisi. Voluptas sit dolor sapiente. Dolores enim voluptatem minima ut in nihil consequatur est."</span>
      }
    },
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Metadata"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Ex debitis beatae qui odio et saepe natus. Quidem autem nulla debitis nam magnam aliquid. Iure maiores fugiat in est ut sed pariatur. Iure quas quia totam.\n \rAut id fugit quidem at. Facilis eveniet ea. Repellat necessitatibus voluptas incidunt.\n \rOmnis non suscipit saepe ad. Laudantium pariatur quaerat doloribus aut voluptatem sunt sit voluptas. Quibusdam animi voluptatem alias."</span>
      }
    },
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Distributions"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Et dolores adipisci nihil sed. Excepturi eos rerum officiis sit perspiciatis minima sed dolores. Esse voluptas error ea maiores neque aliquid aut ullam. Voluptatem quo numquam.\n \rEa quis placeat et laboriosam possimus qui veniam quo. Tempore quis sequi sapiente nulla vel sequi. Tenetur soluta nisi harum vel vel. Voluptas doloremque explicabo est deserunt rerum eius blanditiis qui. Blanditiis ad reiciendis delectus eius et.\n \rQui quo ex exercitationem non explicabo ea occaecati culpa. Corporis ad non veniam aut aliquam modi. Nisi dolorem blanditiis aut rerum mollitia sunt vitae laboriosam. Porro ex occaecati incidunt et illum occaecati est nostrum aut. Iusto quidem iure aperiam. Adipisci placeat impedit doloremque et quis placeat odio quia sapiente."</span>
      }
    }
  ],
  <span class="hljs-attr">"accordion3"</span>: [
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Host"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Quisquam earum dicta cupiditate repellat ut et et facilis quod. Ut iste asperiores ea. Inventore et vel vitae qui quae. Voluptatem aliquam et dolorum in.\n \rRem officia possimus tempora possimus sit. Et dolor itaque alias voluptatem numquam nihil fugit eaque. Tempora et aut.\n \rIllo blanditiis natus tempore quam nemo voluptatibus. Et sequi reiciendis in dolores modi officiis aut quia. Ut sapiente iure quos nihil quo et eaque. Dolore ea maiores autem in nihil eum soluta."</span>
      }
    },
    {
      <span class="hljs-attr">"accordion"</span>: {
        <span class="hljs-attr">"label"</span>: <span class="hljs-string">"Licenses"</span>,
        <span class="hljs-attr">"content"</span>: <span class="hljs-string">"Consequuntur dolore adipisci nihil exercitationem et vero qui. Distinctio qui facilis. Nisi id harum reiciendis architecto. Cupiditate et unde fugit excepturi veritatis odit eveniet in. Enim dolor blanditiis.\n \rRerum expedita iste cupiditate dicta omnis eos quisquam sit ab. Occaecati ex in numquam mollitia quisquam ipsum adipisci. Quos quia id. Vel cupiditate quisquam et aliquam aut autem id mollitia corporis.\n \rSaepe placeat soluta voluptates cupiditate et consequuntur voluptatem deserunt. Rerum doloribus qui. Labore sunt sint qui quam. Exercitationem molestiae excepturi labore quo soluta. Nulla inventore sunt ipsam laboriosam magni aut consequatur sint."</span>
      }
    }
  ]
}</pre>
            
        
    </code>
</div>

    
    




    
    <div class="Browser-panel" data-role="tab-panel" id="browser-7bc6afcb3eaf41b90d9ed7e92343c0b6-panel-info">
    <ul class="Meta">
        <li class="Meta-item">
            <strong class="Meta-key">Handle:</strong>
            <span class="Meta-value">@accordion--1</span>
        </li>
        
        
        
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Variants <em class="Meta-count">(3)</em>:</strong>
            <span class="Meta-value Meta-value--linkList">
            
                <a href="">
                    <span>1</span>
                </a>, 
            
                <a href="accordion--2.html">
                    <span>2</span>
                </a>, 
            
                <a href="accordion--3.html">
                    <span>3</span>
                </a>
            
            </span>
        </li>
        
        <li class="Meta-item">
            <strong class="Meta-key">Preview:</strong>
            <span class="Meta-value">
                <ul>
                    <li><a data-no-pjax href="../preview/accordion--1.html"><span>With layout</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                    <li><a data-no-pjax href="../render/accordion--1.html"><span>Component only</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                </ul>
            </span>
        </li>
        <li class="Meta-item">
            <strong class="Meta-key">Filesystem Path:</strong>
            <span class="Meta-value">elements/3-components/accordion.hbs</span>
        </li>
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Referenced by <em class="Meta-count">(1)</em>:</strong>
            <span class="Meta-value Meta-value--linkList">
            
                <a href="landing.html">@<span>landing</span></a>
            
            </span>
        </li>
        
    </ul>
</div>

    

</div>

</div>


    

</div>


            </div>
        </div>

        <div class="Frame-handle" data-role="frame-resize-handle"></div>
        
        <div class="Frame-panel Frame-panel--sidebar" data-role="sidebar">
            <nav class="Navigation">

    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-components">
    <h3 class="Tree-title">components</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-pages">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Pages</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="datasets.html" data-pjax>
                <span>Datasets</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="dmp.html" data-pjax>
                <span>DMP</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="landing.html" data-pjax>
                <span>Landing</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="project.html" data-pjax>
                <span>Project</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-templates">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Templates</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="step.html" data-pjax>
                <span>Step</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-components">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Components</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="abstract.html" data-pjax>
                <span>Abstract</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="accordion.html" data-pjax>
                <span>Accordion</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="contributor.html" data-pjax>
                <span>Contributor Type</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="description.html" data-pjax>
                <span>Description</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="description2.html" data-pjax>
                <span>Description 2</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="email.html" data-pjax>
                <span>Email</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="enddate.html" data-pjax>
                <span>End Date</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="ethical.html" data-pjax>
                <span>Ethical</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="ethicsreport.html" data-pjax>
                <span>Ethics Report</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="fieldgroup.html" data-pjax>
                <span>Field Group</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="footer.html" data-pjax>
                <span>Footer</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="funder.html" data-pjax>
                <span>Funder</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="fundingstatus.html" data-pjax>
                <span>Funding Status</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="grantid.html" data-pjax>
                <span>Grant ID</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="header.html" data-pjax>
                <span>Header</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="host.html" data-pjax>
                <span>Host</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="intro.html" data-pjax>
                <span>Introduction</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="keywords.html" data-pjax>
                <span>Keywords</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="language.html" data-pjax>
                <span>Language</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="logo.html" data-pjax>
                <span>Logo</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="name.html" data-pjax>
                <span>Name</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="orcid.html" data-pjax>
                <span>Orcid</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="orcidfield.html" data-pjax>
                <span>Orcid Field</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="organization.html" data-pjax>
                <span>Organization</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="other.html" data-pjax>
                <span>Other Staff</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="personal.html" data-pjax>
                <span>Personal</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="primary.html" data-pjax>
                <span>Primary Contact</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="progress.html" data-pjax>
                <span>Progress</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="report.html" data-pjax>
                <span>Report</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="required.html" data-pjax>
                <span>Required</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="sensitive.html" data-pjax>
                <span>Sensitive</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="startdate.html" data-pjax>
                <span>Start Date</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="summary.html" data-pjax>
                <span>Summary</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="title.html" data-pjax>
                <span>Title</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="title2.html" data-pjax>
                <span>Title 2</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="type.html" data-pjax>
                <span>Type</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-elements">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Elements</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="button.html" data-pjax>
                <span>Buttons</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="datalist.html" data-pjax>
                <span>Datalist</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="heading.html" data-pjax>
                <span>Heading</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="input.html" data-pjax>
                <span>Input</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="label.html" data-pjax>
                <span>Label</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="link.html" data-pjax>
                <span>Link</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="select.html" data-pjax>
                <span>Select</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="textarea.html" data-pjax>
                <span>Textarea</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    

    </ul>
</div>

</div>



    


    


</nav>

        </div>
    </div>
</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.2.1"></script>



</body>
</html>
