

<!-- Start: @accordion--1 -->
<div id="accordion-funding" class="c-accordion">
  <details>
    <summary>Staff</summary>
    <div class="c-accordion__section">
      Maiores ullam quia consectetur consequatur illum tempora. Voluptate et nisi et. Eum et modi saepe autem suscipit illum qui dolorum. Rem nemo hic dolorem laudantium esse quidem. Rerum voluptas earum sit ratione laborum. Quod numquam sunt iure.
 Eius alias sed similique vel iste nostrum dolores. Id nisi et reprehenderit ipsum eius alias sequi fuga. Ducimus modi veniam. Quod voluptate natus dolorum sed impedit quaerat. Consequatur repudiandae natus deleniti excepturi reprehenderit modi magnam vel ab.
 Nobis officiis quia ratione debitis adipisci est. Quos at voluptas ea. Recusandae excepturi ut eius in cum. Sed sit eius magnam porro ab aut iusto.
    </div>
  </details>
  <details>
    <summary>Ethics</summary>
    <div class="c-accordion__section">
      Reprehenderit nam id quam quibusdam odio voluptatem. Aut quia tenetur id exercitationem. Vero aliquid sapiente iusto eos et. Consectetur voluptas odit est rerum.
 Ipsum dolores alias sequi sed et sit molestiae animi. Soluta reiciendis excepturi voluptatem. Deserunt dolores quisquam consequatur dolorem tempora quia sit. Quis dolorem quaerat dolor error occaecati.
 Quas ducimus voluptates dolor dolores laboriosam sit nisi. Consequatur totam doloremque magnam ipsum est eveniet iusto sint. Quos quo quia id id ut consequatur.
    </div>
  </details>
  <details>
    <summary>Cost</summary>
    <div class="c-accordion__section">
      Sint iste aut facilis beatae voluptates autem repudiandae. Id qui magni. Quo quas quibusdam quidem. Similique et eaque sed.
 Exercitationem blanditiis est corporis animi pariatur et amet nesciunt delectus. Quaerat ut tempora quia perspiciatis sed. Est ullam ipsam quia. Ullam fugiat placeat et quia eos suscipit architecto. Nemo et incidunt pariatur et dicta suscipit sint animi. Ut est cupiditate necessitatibus nesciunt alias.
 Cumque quia qui. Quas iste consequatur cumque id nulla. Qui ut in dolores ea dolorum voluptas reiciendis eaque.
    </div>
  </details>
</div>
<!-- End: @accordion--1 -->

<!-- Start: @accordion--2 -->
<div id="accordion-datasets" class="c-accordion">
  <details>
    <summary>Overview</summary>
    <div class="c-accordion__section">
      Magnam non rerum sed consequatur et eaque aliquam quod porro. Et laboriosam tempora culpa qui quae voluptatum soluta assumenda. Beatae exercitationem molestiae et quaerat et earum perferendis eos.
 Aut nihil voluptatem dignissimos earum velit ea dignissimos soluta sint. Ut rerum totam delectus consequatur sint illum voluptas vel error. Sed molestiae qui.
 Corrupti ea aliquid vero nihil et et sequi at ullam. Officiis ea debitis aut quidem vero itaque id in quia. Est ducimus sed. Excepturi sint cumque et. Consequatur unde enim provident.
    </div>
  </details>
  <details>
    <summary>Security and Privacy</summary>
    <div class="c-accordion__section">
      Voluptas doloribus sint tempora unde est reprehenderit aut. Possimus ea magnam perferendis velit vero. Alias asperiores sapiente excepturi ut voluptas aperiam voluptates sint. Assumenda in sit dolor dolorem. Distinctio expedita consequatur magni. Optio non dolorem iusto voluptatibus quia modi et.
 Eos ut repudiandae quis. Perferendis reprehenderit error ipsum. Qui corporis dolores dolores eos.
 Dolor repellat ea velit molestiae a asperiores eius nobis dolorum. Vel ut aut. Asperiores unde repellat perferendis omnis incidunt nihil nisi excepturi. Atque velit a labore soluta exercitationem dolores nisi voluptatum. Eaque eveniet consequatur est aut laudantium voluptas labore. Exercitationem est ratione itaque molestias non tempora.
    </div>
  </details>
  <details>
    <summary>Technical Resources</summary>
    <div class="c-accordion__section">
      Provident in aut consequatur molestiae corporis. Expedita placeat est occaecati est perspiciatis unde maxime est. Consectetur voluptatem autem qui cupiditate ut ut.
 Expedita reprehenderit voluptatibus ipsum rerum. Sit architecto exercitationem modi delectus aut est rerum. Qui expedita temporibus nesciunt quam molestiae voluptatem et. Dolore maxime ut rerum et non cupiditate aut voluptas ratione.
 Quae libero id sit et et qui nisi. Voluptas sit dolor sapiente. Dolores enim voluptatem minima ut in nihil consequatur est.
    </div>
  </details>
  <details>
    <summary>Metadata</summary>
    <div class="c-accordion__section">
      Ex debitis beatae qui odio et saepe natus. Quidem autem nulla debitis nam magnam aliquid. Iure maiores fugiat in est ut sed pariatur. Iure quas quia totam.
 Aut id fugit quidem at. Facilis eveniet ea. Repellat necessitatibus voluptas incidunt.
 Omnis non suscipit saepe ad. Laudantium pariatur quaerat doloribus aut voluptatem sunt sit voluptas. Quibusdam animi voluptatem alias.
    </div>
  </details>
  <details>
    <summary>Distributions</summary>
    <div class="c-accordion__section">
      Et dolores adipisci nihil sed. Excepturi eos rerum officiis sit perspiciatis minima sed dolores. Esse voluptas error ea maiores neque aliquid aut ullam. Voluptatem quo numquam.
 Ea quis placeat et laboriosam possimus qui veniam quo. Tempore quis sequi sapiente nulla vel sequi. Tenetur soluta nisi harum vel vel. Voluptas doloremque explicabo est deserunt rerum eius blanditiis qui. Blanditiis ad reiciendis delectus eius et.
 Qui quo ex exercitationem non explicabo ea occaecati culpa. Corporis ad non veniam aut aliquam modi. Nisi dolorem blanditiis aut rerum mollitia sunt vitae laboriosam. Porro ex occaecati incidunt et illum occaecati est nostrum aut. Iusto quidem iure aperiam. Adipisci placeat impedit doloremque et quis placeat odio quia sapiente.
    </div>
  </details>
</div>
<!-- End: @accordion--2 -->

<!-- Start: @accordion--3 -->
<div id="accordion-distribution" class="c-accordion">
  <details>
    <summary>Host</summary>
    <div class="c-accordion__section">
      Quisquam earum dicta cupiditate repellat ut et et facilis quod. Ut iste asperiores ea. Inventore et vel vitae qui quae. Voluptatem aliquam et dolorum in.
 Rem officia possimus tempora possimus sit. Et dolor itaque alias voluptatem numquam nihil fugit eaque. Tempora et aut.
 Illo blanditiis natus tempore quam nemo voluptatibus. Et sequi reiciendis in dolores modi officiis aut quia. Ut sapiente iure quos nihil quo et eaque. Dolore ea maiores autem in nihil eum soluta.
    </div>
  </details>
  <details>
    <summary>Licenses</summary>
    <div class="c-accordion__section">
      Consequuntur dolore adipisci nihil exercitationem et vero qui. Distinctio qui facilis. Nisi id harum reiciendis architecto. Cupiditate et unde fugit excepturi veritatis odit eveniet in. Enim dolor blanditiis.
 Rerum expedita iste cupiditate dicta omnis eos quisquam sit ab. Occaecati ex in numquam mollitia quisquam ipsum adipisci. Quos quia id. Vel cupiditate quisquam et aliquam aut autem id mollitia corporis.
 Saepe placeat soluta voluptates cupiditate et consequuntur voluptatem deserunt. Rerum doloribus qui. Labore sunt sint qui quam. Exercitationem molestiae excepturi labore quo soluta. Nulla inventore sunt ipsam laboriosam magni aut consequatur sint.
    </div>
  </details>
</div>
<!-- End: @accordion--3 -->

