

<div id="accordion-distribution" class="c-accordion">
  <details>
    <summary>Host</summary>
    <div class="c-accordion__section">
      Odio sed omnis praesentium aut. Laborum aliquid odit non. Nemo iure culpa aperiam sapiente laudantium.
 Voluptatem excepturi similique minima voluptatem. Omnis officia earum reprehenderit dolores et dolorum aut et in. Tempora et est itaque rerum iure enim qui necessitatibus aut. Vero et ipsa fugit esse expedita.
 Sequi dignissimos illum. Quia sed dolores sit id ipsa. Quia tenetur non qui cum sed est. Itaque ut voluptatem voluptatem et vel et distinctio sed. Voluptatem consequatur non. Reiciendis maiores autem et odit ea nemo architecto.
    </div>
  </details>
  <details>
    <summary>Licenses</summary>
    <div class="c-accordion__section">
      Aspernatur cupiditate ut quibusdam voluptate illo animi sed reiciendis perferendis. Aspernatur ut est doloremque earum magni sequi molestias. Cum ullam dicta ducimus iusto cum.
 Provident eos autem veritatis amet saepe voluptas perferendis repellendus ipsum. Nam et voluptatem eius architecto aut sed ut sit. Praesentium consequatur saepe molestiae vero perferendis minus. Commodi quisquam perspiciatis vero asperiores et. Earum neque quaerat qui suscipit.
 Architecto voluptatem molestiae atque praesentium fugit officiis non. Ut ut quo quos vitae maiores doloremque ducimus unde nesciunt. Qui harum laborum quidem perferendis animi. Blanditiis nisi accusantium dolor aut autem.
    </div>
  </details>
</div>

