

<!-- Start: @accordion--1 -->
<div id="accordion-funding" class="c-accordion">
  <details>
    <summary>Staff</summary>
    <div class="c-accordion__section">
      Ab nihil voluptate. Quis ut vero aut accusantium rem et eaque soluta excepturi. Occaecati est culpa vel quo suscipit aliquid aliquid voluptates reprehenderit.
 Reprehenderit consequatur ea et aut itaque totam voluptates est. Ullam quidem saepe ad deleniti. Veniam suscipit quam voluptas. Aut est qui id impedit rem.
 Nihil quo dolore quisquam sed excepturi ullam. Ratione suscipit sunt ut id culpa commodi architecto. Soluta consectetur quisquam cum omnis numquam quas. Vitae quod culpa natus et. Officia perspiciatis quisquam eligendi dicta. Voluptatibus culpa quia incidunt aut maxime quas omnis dignissimos velit.
    </div>
  </details>
  <details>
    <summary>Ethics</summary>
    <div class="c-accordion__section">
      Quam laudantium accusamus dolor possimus labore dolores sit dolor. Omnis expedita error est et est ea sed occaecati rem. Consequatur doloremque cum illo consequatur sed.
 Ut molestiae rerum magni quos quis enim est. Quod non et quam impedit. Voluptatem nulla voluptatibus blanditiis.
 Sed recusandae atque ipsam voluptatum. Et ipsa cupiditate impedit dolorem atque nihil dignissimos culpa eaque. Ipsa qui sit laudantium rerum temporibus et aut consequatur.
    </div>
  </details>
  <details>
    <summary>Cost</summary>
    <div class="c-accordion__section">
      Assumenda quia totam dolorem molestiae commodi sit. Corporis molestias atque exercitationem molestiae hic ratione illum soluta. Aut aut et maiores sunt.
 Expedita laborum voluptate et quaerat inventore vitae iure. Minus enim dolores in similique. Voluptatem tenetur sit aut. Fuga nulla odio rerum nihil ullam.
 Accusamus officia minima aspernatur voluptatem explicabo sint error et possimus. Eos cupiditate quis aut doloribus. Ut quo aliquid. Corrupti distinctio id earum consequatur dolore.
    </div>
  </details>
</div>
<!-- End: @accordion--1 -->

<!-- Start: @accordion--2 -->
<div id="accordion-datasets" class="c-accordion">
  <details>
    <summary>Overview</summary>
    <div class="c-accordion__section">
      Expedita accusantium nesciunt. Voluptates molestiae qui totam totam autem est perspiciatis. Vero deleniti et dolore ut ea est sed dolores.
 Sed laborum maiores labore. Nihil qui aliquid rerum minima. Repellat et ipsa a facilis omnis eaque. Omnis dolorum incidunt sit sunt. Est illo minus. Cum sed ab quia exercitationem similique qui a quis dolore.
 Magni occaecati laborum illo doloribus molestias ut. Modi amet alias. Voluptatibus suscipit aut veniam sint iure esse similique maxime. Non amet reprehenderit odit at quod consequuntur. Saepe vel dolores maiores molestiae est nemo dolor sint. Sint eos aut velit vero corporis et voluptatibus corporis voluptas.
    </div>
  </details>
  <details>
    <summary>Security and Privacy</summary>
    <div class="c-accordion__section">
      Mollitia cum odio est recusandae enim qui maxime voluptatum. Et natus ea labore. Possimus aspernatur dolorem eius odit quia et ratione ducimus veniam. Dolor omnis cupiditate ut aperiam eveniet voluptatibus et et at.
 Distinctio autem vel minima dolores est error perferendis qui doloremque. Illo dolore fugit cupiditate placeat sed saepe porro. Ea a quibusdam deleniti et et eaque sed unde est.
 Similique similique quia nemo. At possimus in aut nemo illum eveniet. Ea provident commodi iure. Dolore sed est non eaque rerum omnis ex non. Debitis consequuntur occaecati eum aperiam. Qui dolor quibusdam ad quos.
    </div>
  </details>
  <details>
    <summary>Technical Resources</summary>
    <div class="c-accordion__section">
      Et voluptatem officiis veniam eveniet delectus. Et accusamus rerum deserunt est. Vero suscipit at dolores a et optio eius aut. Minus blanditiis id nulla porro voluptatem porro eaque ipsa. Sint quod autem.
 Nam laudantium non iusto. Ea qui quia mollitia cupiditate et ducimus impedit nam. Unde atque accusantium odio doloremque omnis cumque alias. Aut sapiente unde debitis deleniti totam consequuntur fuga. Blanditiis est modi aliquid autem omnis aut expedita nam natus.
 Voluptatum quia delectus voluptas doloremque et voluptatem. Ullam facere earum reiciendis. Maiores neque temporibus voluptatibus et placeat quia ut et non.
    </div>
  </details>
  <details>
    <summary>Metadata</summary>
    <div class="c-accordion__section">
      Aut reprehenderit iste expedita omnis est vel voluptas doloremque dolor. Totam neque voluptatem occaecati ex omnis tenetur est. Minima nobis nihil suscipit natus asperiores.
 Commodi adipisci nesciunt aspernatur modi earum ex rerum. Dolorum saepe sit. Tempora facere et laudantium officiis dolore. Nihil consequatur et ad repellat sed.
 Facilis tenetur et. Et dolorem in quia minima expedita porro voluptas facilis. Dolores neque eum maiores debitis tempora impedit officia veniam. Et delectus dignissimos expedita doloribus qui est. Vero voluptas praesentium odit sed alias modi.
    </div>
  </details>
  <details>
    <summary>Distributions</summary>
    <div class="c-accordion__section">
      Et autem voluptas similique consequatur aliquid aut iste eum. Assumenda impedit odio consectetur. Nemo architecto laboriosam deleniti consequatur totam nihil voluptatem eum. Quia et iure dignissimos quibusdam aspernatur provident quia et enim. Atque at laboriosam architecto est qui. Maxime accusamus fuga asperiores dicta eius.
 Non pariatur deserunt rerum error nostrum saepe. Magnam perferendis quia debitis libero veritatis autem minus. Asperiores quis et cum. Et mollitia nam fuga. Libero earum ipsum eos.
 Dolorum qui ipsa sed nobis error adipisci ut. Omnis omnis quo. Quisquam eos dolores aut autem nam voluptatem impedit suscipit. Et ut delectus minima illo. Praesentium occaecati ut. Ut et facere laboriosam molestiae error voluptatem rerum.
    </div>
  </details>
</div>
<!-- End: @accordion--2 -->

<!-- Start: @accordion--3 -->
<div id="accordion-distribution" class="c-accordion">
  <details>
    <summary>Host</summary>
    <div class="c-accordion__section">
      Ipsum non natus magnam qui cupiditate voluptas assumenda. Dolorum ipsa et perferendis mollitia dignissimos possimus nisi sed cum. Harum rerum quo repudiandae adipisci facere suscipit dolore sint eum. Minima enim expedita aliquid. Et facere incidunt fugit laborum. Voluptas qui accusamus quo qui et beatae fuga doloribus.
 Aut facilis possimus vel perspiciatis occaecati quia autem. Eaque quia non est accusantium itaque dignissimos modi asperiores tempora. At dolorem eum sequi aliquid. Ut similique consequuntur voluptatem maiores dolorem quo aut eveniet quibusdam. Inventore fugit nemo illo error sit possimus.
 Rerum consequatur voluptas itaque nesciunt sed quam sapiente. Vitae quia non nobis. Corrupti mollitia quia ex aspernatur ducimus perspiciatis tenetur. Id reprehenderit provident enim pariatur. Optio iste non perferendis qui pariatur. Et tempora omnis magnam ut aliquid doloribus repellendus eum.
    </div>
  </details>
  <details>
    <summary>Licenses</summary>
    <div class="c-accordion__section">
      Eaque est voluptatem iusto voluptates velit reprehenderit delectus. Veritatis et atque sunt eius consequatur exercitationem sed eum. Consequatur iusto vitae reprehenderit adipisci et eos ex reiciendis.
 Quod cum et vitae sapiente. Voluptatem esse aut sint quia enim et earum. Quas veniam ut culpa est doloremque. Maiores incidunt perferendis adipisci.
 Error quos dolorum facere facilis voluptatum ea officia reprehenderit qui. Reiciendis rerum libero dolore labore porro perferendis veniam eius earum. Ducimus reprehenderit maxime vel ut repellendus. Sunt iure tenetur sed non vero mollitia et ea. Est est accusamus et tempore veniam ut.
    </div>
  </details>
</div>
<!-- End: @accordion--3 -->

