

<div id="accordion-funding" class="c-accordion">
  <details>
    <summary>Staff</summary>
    <div class="c-accordion__section">
      Qui quia sunt aliquam amet. Dolorum laboriosam voluptas et aperiam et aut vel. Officiis eos et cupiditate atque provident. Molestiae adipisci omnis enim quod nobis dolorem delectus numquam.
 Natus tempore esse. Architecto culpa sit similique qui deleniti deleniti sunt autem voluptate. Repellat consequatur non consectetur dolorum qui. Quidem eum repudiandae iste itaque asperiores qui tempora sint. Voluptate qui veniam sunt eveniet pariatur voluptatum eaque neque.
 Possimus voluptas qui praesentium velit id atque laborum. Ut alias sed corrupti. Et dolorem culpa rerum dolores quisquam. Est est suscipit earum eos rerum maiores porro.
    </div>
  </details>
  <details>
    <summary>Ethics</summary>
    <div class="c-accordion__section">
      Omnis molestiae inventore dolor. Et placeat recusandae dolores minus vero totam ipsam quia. Odio iusto magni molestias voluptatum modi tempore ipsam fuga. Consequuntur ex quia. Est quam nostrum et aliquid.
 Dolorem iusto harum tenetur nam eligendi. Fuga eligendi quia et aut fugiat exercitationem qui officia suscipit. Dolorum voluptatum debitis. Unde aut aut officia veritatis sint sed. In ad pariatur inventore. Similique praesentium nulla.
 Fugit error accusamus quas et aliquam aut ducimus eius. Vero quas quas officia eum aut vel blanditiis est hic. Nemo dolore voluptatum beatae tenetur ipsum sit accusamus. Fugiat iusto iste.
    </div>
  </details>
  <details>
    <summary>Cost</summary>
    <div class="c-accordion__section">
      Deserunt ipsum autem quod beatae numquam fugiat repellat aut. Sunt voluptate quam facere voluptatem. Nemo et atque error quisquam et est itaque ducimus porro. Pariatur voluptatum repellendus libero officia ad dolores. Ex esse sed in sunt voluptatem rerum consequatur repellendus.
 Iure et quas. Rem eum natus expedita et. Soluta autem delectus voluptatibus aut. Ea iure assumenda voluptatem.
 Quisquam ullam aut molestias non aut recusandae. Praesentium aliquam repellat ratione nesciunt. Quaerat totam velit maiores sunt quaerat vero soluta.
    </div>
  </details>
</div>

