

<div id="accordion-funding" class="c-accordion">
  <details>
    <summary>Staff</summary>
    <div class="c-accordion__section">
      Dolore reprehenderit beatae iusto et voluptas dolorem dolor. Sit est ut. Iure explicabo labore ullam quo ad. Aut eos eum. Aut ut eos quasi voluptatem similique. Necessitatibus porro quia necessitatibus aliquam quo.
 Et nulla blanditiis quis voluptates rerum voluptatem. Est aperiam alias voluptatem necessitatibus vero. Architecto saepe quasi nam corporis eos qui aspernatur modi labore. Ducimus et earum.
 Itaque cupiditate quo. Autem non porro ipsam dignissimos animi quia eligendi voluptatibus. Et quibusdam consectetur omnis similique rerum debitis. Repellendus ea aut magnam optio officia neque. Voluptatem voluptate qui explicabo tenetur consequatur. Necessitatibus animi doloremque illum odit est.
    </div>
  </details>
  <details>
    <summary>Ethics</summary>
    <div class="c-accordion__section">
      Minima nihil ratione sit nihil cum eum. Aliquid delectus mollitia facilis aspernatur ea est laudantium quia facilis. Et ipsum ad sed. Dolore non dolore perspiciatis. Fugiat quaerat est sapiente necessitatibus iure non.
 Rerum odit fugit fugiat placeat sit ducimus. Beatae nihil esse rem velit. Suscipit nam veniam quia enim eum tempora. Pariatur dolores ipsam repellendus quo vel. Earum corporis earum hic atque sit et expedita.
 Et tempore omnis. Harum blanditiis natus rerum. Et voluptas rerum sed aperiam perferendis.
    </div>
  </details>
  <details>
    <summary>Cost</summary>
    <div class="c-accordion__section">
      Eligendi ab dolores ab ut delectus dolores. Facilis quis ipsum rerum totam voluptates unde. Et ducimus id blanditiis dignissimos.
 Rem dolor iste corrupti et nam nulla voluptatibus molestiae. Quam id unde esse odit similique magnam. Et illum fugiat tempore. Sit id itaque et eius doloribus dolor.
 Et officiis optio et ipsum. Accusamus fugit officiis. Ea voluptatem nobis pariatur id aut qui id quia dolorem. Accusamus laudantium distinctio. Blanditiis dolore quo maiores iure voluptatem rem facere. Quia dolorem et culpa exercitationem sunt laborum eos.
    </div>
  </details>
</div>

