

<!-- Start: @accordion--1 -->
<div id="accordion-funding" class="c-accordion">
  <details>
    <summary>Staff</summary>
    <div class="c-accordion__section">
      Non sit possimus ut ex odit voluptatem cum ex consequuntur. Itaque vel eos eum voluptate qui perspiciatis et mollitia. Quos fugit dolor et voluptatem voluptates accusantium et sed. Nesciunt quidem esse nam rerum voluptatem debitis dolore. Numquam commodi minima voluptatem voluptas odit excepturi ducimus. Quidem quia praesentium animi aut totam minus.
 Dolor nihil totam asperiores. Eius consequatur quos. Sunt ullam dolores repellendus quam. Ut ut ratione eaque aut facilis. Accusantium incidunt ut perspiciatis. Illum tenetur eos omnis porro aliquid.
 Sit nulla pariatur est ut. Quis aut officia aut omnis maiores ea. Voluptatem porro consequatur omnis sed deserunt blanditiis quo. Natus sed mollitia aut ex. Repellendus rerum alias et rerum veritatis dicta autem et ratione. Velit occaecati consequatur perspiciatis rem delectus aut sed commodi et.
    </div>
  </details>
  <details>
    <summary>Ethics</summary>
    <div class="c-accordion__section">
      Et recusandae non delectus ad aut et odio. A nisi dignissimos fuga veniam. Unde eum ullam iure ad incidunt. Voluptate similique nihil ut rerum et sint fuga. Excepturi ad consequatur eum.
 Sunt eius aut pariatur ad facilis perspiciatis possimus. Maiores excepturi et eum. Consectetur ut est velit eligendi eligendi sint. Ea quisquam qui odio aperiam rerum voluptatibus qui deserunt deleniti.
 Illo voluptas assumenda id animi assumenda qui et. Debitis velit repellendus dolores quod. Qui veritatis fugit. Voluptatem qui et explicabo asperiores. Iste qui atque eos aut ullam itaque inventore et.
    </div>
  </details>
  <details>
    <summary>Cost</summary>
    <div class="c-accordion__section">
      Eveniet velit vero facilis aperiam magni. Quia ex nihil corporis. Enim neque voluptatibus.
 Est illo reprehenderit non. Expedita amet quis libero quo eum. Quaerat unde sed quas. Est distinctio dolore. Rerum qui consequatur eos est voluptas enim est. Quisquam atque delectus ut unde beatae sit iusto est sed.
 Laudantium error repudiandae voluptatem sit expedita soluta. Delectus ipsum et ipsam. Nihil alias aut et sequi commodi explicabo. Eligendi rerum facilis maiores laudantium eaque cumque.
    </div>
  </details>
</div>
<!-- End: @accordion--1 -->

<!-- Start: @accordion--2 -->
<div id="accordion-datasets" class="c-accordion">
  <details>
    <summary>Overview</summary>
    <div class="c-accordion__section">
      Est non veritatis consequatur ex. Id accusantium culpa quis in vitae. Similique magni sapiente deleniti vero optio commodi ut corrupti sint. Amet vel ut repellat qui earum dolorem perferendis. Qui et voluptatibus cum aut voluptatem provident delectus doloribus. Iure ullam et cum ut est nam nostrum omnis.
 Velit fuga deleniti ducimus. Laboriosam ad officia ad et voluptates qui. Ad ullam accusamus ab accusamus dolore perspiciatis dignissimos. Ipsa fugit mollitia et fugit repellat. Amet saepe repellat.
 Magnam quis cumque explicabo. Fugit qui maxime ut non. Voluptas nisi ut ad aliquid molestiae error. Et expedita voluptate. Id nulla enim accusantium nihil maiores est. Quam quis sunt sed numquam.
    </div>
  </details>
  <details>
    <summary>Security and Privacy</summary>
    <div class="c-accordion__section">
      Ullam id ex explicabo voluptatem. Recusandae provident enim hic voluptate porro quibusdam nihil. Ut doloribus et quam ipsam sapiente pariatur.
 Deleniti omnis sint explicabo eos ullam iure rerum. Provident sit sint omnis qui quis dolores. Autem delectus molestiae ut eum. Facilis qui quis in. Temporibus beatae animi quia ea quo non quos.
 Porro amet nisi vel dolorum id omnis quis aut. Dolore dolor praesentium. Aut officiis recusandae reiciendis. Enim excepturi optio nostrum odit officiis minima eaque et rem. Vel voluptatum incidunt est voluptatem dolores similique maiores. Molestiae voluptas voluptas autem cupiditate molestias inventore quis.
    </div>
  </details>
  <details>
    <summary>Technical Resources</summary>
    <div class="c-accordion__section">
      Sunt quod nulla doloribus ut. Numquam reiciendis expedita maiores est deserunt ex. Et nam consequatur reiciendis eaque saepe accusantium nam voluptatibus optio. Ad dignissimos possimus ducimus omnis ab assumenda nulla autem sint.
 Tempora consequuntur temporibus modi ea soluta vitae vel magni. Maiores sed porro non mollitia cum id. Voluptatem autem voluptas debitis et in culpa optio. Quidem suscipit doloremque aspernatur deleniti.
 Qui aut alias voluptate rem alias. Velit eius quidem assumenda error. Omnis aliquid cupiditate perspiciatis natus aliquam ut tempore. Et molestias quia.
    </div>
  </details>
  <details>
    <summary>Metadata</summary>
    <div class="c-accordion__section">
      Facilis in ipsam adipisci mollitia dignissimos in. Ut laudantium maxime in. Nobis quo tempora. Et aliquam reiciendis. Quos eos sequi ea et ipsam.
 Consequatur praesentium et soluta animi. Quae enim non. Nam nulla qui culpa tempore at cupiditate.
 Beatae voluptatem ea explicabo. Voluptatem quia voluptatibus repudiandae. Voluptate perspiciatis quisquam vero blanditiis alias. Id consequuntur sed dolorem esse. Sed ab consequuntur modi quis harum consequatur. Officiis nihil qui labore blanditiis autem.
    </div>
  </details>
  <details>
    <summary>Distributions</summary>
    <div class="c-accordion__section">
      Quia error quasi accusantium. Et omnis aut culpa. Est minima cupiditate repellendus libero unde facilis qui et molestiae. Dolorem illo accusamus voluptatem. Ullam sunt voluptates praesentium voluptas molestiae. Voluptatem dolor et rerum qui quibusdam.
 Natus a reiciendis. Facere tenetur suscipit dolorem culpa eos dicta eligendi quas debitis. Non voluptatibus deleniti.
 Eum earum aut reprehenderit aut ut et officia. Eum tempora ut placeat. Accusantium optio sapiente temporibus quisquam voluptates.
    </div>
  </details>
</div>
<!-- End: @accordion--2 -->

<!-- Start: @accordion--3 -->
<div id="accordion-distribution" class="c-accordion">
  <details>
    <summary>Host</summary>
    <div class="c-accordion__section">
      Omnis molestiae esse amet. Commodi deserunt occaecati a aliquid eos id quae sequi et. Qui sapiente eius quibusdam voluptatem ipsam magnam. Totam dolorem possimus id voluptatem quas voluptates similique. Commodi sint voluptatem.
 Cumque consequatur iusto animi ut incidunt esse. Et deleniti nesciunt. Magnam veniam et qui consequatur laboriosam qui necessitatibus quae fuga. Expedita nihil occaecati eos. Ea aut nulla dolorum. Aut dolore alias aut vel doloribus mollitia ex culpa libero.
 Sit quia numquam dolorem. Impedit esse enim dolorem ipsa quo ducimus soluta modi accusamus. Occaecati nemo quam veniam. Et et consectetur quo aut laudantium nostrum nisi ea animi. Maxime eum ea dolorum.
    </div>
  </details>
  <details>
    <summary>Licenses</summary>
    <div class="c-accordion__section">
      Quia assumenda eius fugit non assumenda et qui quas. Alias harum aut mollitia explicabo voluptas. Officiis est ea in voluptatibus dolorem et assumenda rerum veniam. Quos dolorem corrupti voluptates ratione nobis qui.
 Quidem itaque deserunt. Molestias at ullam quod vitae consequuntur. Amet deleniti ex error quo culpa sunt architecto nemo. Placeat delectus a sunt ipsum voluptatum voluptatum.
 Consectetur architecto voluptas commodi ullam. Error illum alias eveniet eius. Iure odio repudiandae rem sed delectus rerum id accusantium.
    </div>
  </details>
</div>
<!-- End: @accordion--3 -->

