

<div id="accordion-distribution" class="c-accordion">
  <details>
    <summary>Host</summary>
    <div class="c-accordion__section">
      Iusto suscipit est eos quas id accusamus. Hic qui veritatis fuga quia qui fugit occaecati porro exercitationem. Architecto ipsa ab. Assumenda temporibus voluptas. Amet numquam consequatur nisi enim porro qui deserunt sapiente repellendus.
 Possimus qui doloremque. Vel voluptatem ipsam dolor. Necessitatibus blanditiis ex omnis quod assumenda. Excepturi sint repudiandae totam.
 Inventore praesentium veniam saepe sunt excepturi maxime et consectetur excepturi. Cupiditate non aut. Amet deserunt possimus et. Est doloribus repellat et dolor cum sit. Et praesentium et itaque laboriosam molestiae magni nemo. Dicta omnis ea et vitae ullam consequatur beatae sunt architecto.
    </div>
  </details>
  <details>
    <summary>Licenses</summary>
    <div class="c-accordion__section">
      Sunt at porro sit dignissimos nemo pariatur. Atque maxime dolor. Nam quaerat laboriosam et. Molestiae recusandae et harum ipsam enim quia.
 Consectetur doloremque pariatur ut ab et et tenetur dolores. Rem autem ex porro voluptatem laboriosam id. Distinctio repudiandae veritatis est. Tempora odio eos. In voluptatibus dolorem nobis. Omnis et eum provident tenetur modi facere.
 Expedita ut at ad quisquam a voluptatem ducimus. Eos fugiat corporis sapiente nesciunt sunt quia. Eos minus fugiat iste repellendus quis natus. Aut consectetur error ratione ut voluptas aspernatur eos reprehenderit debitis.
    </div>
  </details>
</div>

