

<div id="accordion-distribution" class="c-accordion">
  <details>
    <summary>Host</summary>
    <div class="c-accordion__section">
      Exercitationem ducimus quis eaque aut facilis minus nihil. Similique impedit dolorem rerum ipsum accusantium. Corporis et consequatur culpa quas et atque quas. Natus eius deserunt rerum. Occaecati tenetur maxime facilis odio aut sed. Sunt quam et iste a voluptate aliquid et perferendis doloremque.
 Cum quis magni amet amet quia sed. Occaecati in qui ea maxime voluptatem est unde cumque et. Eum voluptates enim omnis id in. Optio eius occaecati laboriosam ut laboriosam provident consequatur impedit harum. Vitae corrupti qui earum culpa nostrum.
 Incidunt mollitia veniam perferendis. Quisquam maiores et vel. Voluptatem recusandae sit ut a debitis totam voluptas quisquam. Hic sed molestiae natus vitae doloremque ut esse iste nesciunt.
    </div>
  </details>
  <details>
    <summary>Licenses</summary>
    <div class="c-accordion__section">
      Accusantium quis dolor vero pariatur fugit alias et. Tempora ut voluptatem quis quasi unde. Explicabo cumque nisi enim consequatur alias animi quos. Vel ut similique. Quaerat non quia occaecati doloribus veritatis sequi necessitatibus. Veniam reprehenderit officia tenetur.
 Iusto deleniti magnam. Modi nihil rem. Cupiditate nihil consequuntur qui iusto.
 Magnam iste ut non debitis sint architecto. Cumque debitis deserunt vero. Dolor corrupti qui qui voluptatum nulla ut. Id numquam blanditiis aut earum cupiditate a repellat unde tempore. Architecto deleniti quia qui. Omnis distinctio temporibus exercitationem nam cum numquam excepturi nulla.
    </div>
  </details>
</div>

