

<div id="accordion-funding" class="c-accordion">
  <details>
    <summary>Staff</summary>
    <div class="c-accordion__section">
      Corporis minus magni dolores possimus. Iste ut voluptas tempore repudiandae. Adipisci ut id eligendi dolor voluptatem debitis et eos. Quis nam vel voluptatem voluptas et praesentium. Officiis perspiciatis quia harum sapiente. Id vitae vel consequatur hic.
 Deleniti expedita provident quia quod et autem nemo blanditiis aut. Vel est reprehenderit tempore. Velit dolorem neque rerum incidunt doloribus odio minus excepturi.
 Vel cumque quasi suscipit beatae nihil quidem ut. Et maiores asperiores ratione itaque est culpa. Dolorem illum dignissimos sunt ea velit nulla voluptatem sapiente. Velit culpa aut nihil doloribus a voluptatem qui natus. Ut doloribus et minus ut sed a quos tempora cum.
    </div>
  </details>
  <details>
    <summary>Ethics</summary>
    <div class="c-accordion__section">
      Molestiae natus laudantium dolores. Sunt id ut et ipsa fugiat sunt velit. Doloribus veritatis amet inventore voluptas laborum qui et. Adipisci assumenda quis. Sed consequatur maxime consequatur cumque neque quia. Expedita sit sunt sit dolor perspiciatis omnis ab.
 Sint dolor aut hic non iusto est facere cupiditate dolores. Deserunt incidunt ut neque. Quasi id rerum ad eaque aliquam quia. Quo est aspernatur aut.
 At officia voluptatem aut iste commodi. Reiciendis eius molestiae nihil a dicta molestias sunt veniam. Aperiam rerum repellendus consequatur dolores et culpa quis quam.
    </div>
  </details>
  <details>
    <summary>Cost</summary>
    <div class="c-accordion__section">
      Quas inventore ut. Alias provident voluptas. Hic totam ipsum voluptas dolores deleniti quas est nihil. Eius beatae aut eaque omnis ab esse aliquid eaque. Iusto repudiandae ab sunt nihil saepe labore praesentium magni. Suscipit maiores optio delectus.
 Consequatur aperiam et vero. Ab rerum laudantium debitis neque porro praesentium aut ad quia. Sequi nihil cum. Est nemo sequi. Dolorem corporis et voluptas dolores. Quia quis cupiditate nulla dolor.
 Sequi voluptatem facilis voluptatum quia vel earum nobis. Ut eos cupiditate voluptas eos voluptatibus dolores tempora nobis. Porro libero nulla ratione architecto temporibus. Distinctio esse et.
    </div>
  </details>
</div>

