

<div class="t-step">
  <header class="c-header">
  <a class="c-logo" href="/">
  <img src="../../ui-assets/images/dmphub_logo.svg" alt="DMP Hub logo">
</a>

  <h1 >
    DMP Hub
  </h1>
</header>

  <main>
    <h2 >
      Data Management Plan
    </h2>
    <div class="c-intro">
      Tell us about your plan for managing your research outputs:
    </div>
    <div class="c-required">
  required fields
</div>

    <div class="t-step__fields">
      <label id="" for="c-summary" class="textarea">Summary</label>
<textarea id="c-summary" name=""  placeholder=""  ></textarea>

      <label id="" for="c-language" class="required">Language</label>
<select name="" id="c-language"  required >
  
  <option value="1" default>English</option>
  <option value="2">French</option>
  <option value="3">Spanish</option>
  <option value="4">German</option>
</select>

      <input id="c-ethical" name="" type="checkbox" value="" placeholder="" list="" pattern="" min="" max=""    >
<label id="c-ethical__label" for="c-ethical" class="">Any ethical concerns?</label>

      <div id="c-ethicsreport" class="c-fieldgroup" role="group" aria-labelledby="c-ethical__label">
  <label id="" for="c-description" class="textarea">Please Describe</label>
<textarea id="c-description" name=""  placeholder=""  ></textarea>

  <label id="" for="c-report" class="">Report</label>
<input id="c-report" name="" type="url" value="" placeholder="" list="" pattern="" min="" max=""    >

</div>

      <div id="primary-id" class="c-fieldgroup" aria-labelledby="primary-fieldgroup-label" role="group">
  <span id="primary-fieldgroup-label" class="c-fieldgroup__label">Primary Contact</span>
  <label id="" for="c-name1" class="required">Name</label>
<input id="c-name1" name="" type="text" value="" placeholder="" list="" pattern="" min="" max=""    required>

  <label id="" for="c-email" class="required">Email</label>
<input id="c-email" name="" type="email" value="" placeholder="" list="" pattern="" min="" max=""    required>

  <a id="c-orcid" class="c-orcid required" href="https://orcid.org/0000-0001-5727-2427">https://orcid.org/0000-0001-5727-2427</a>

</div>

      <h3>Other Staff</h3>
      <div class="c-other">
  <template>
    <div class="c-other__fieldgroup" role="group" aria-label="fieldset">
      <label id="" for="c-contributor" class="required">Contributor Type</label>
<select name="" id="c-contributor"  required >
  
  <option value="1" default>author</option>
  <option value="2">principal investigator</option>
  <option value="3">curator</option>
</select>

      <label id="" for="c-name1" class="required">Name</label>
<input id="c-name1" name="" type="text" value="" placeholder="" list="" pattern="" min="" max=""    required>

      <label id="" for="c-email" class="required">Email</label>
<input id="c-email" name="" type="email" value="" placeholder="" list="" pattern="" min="" max=""    required>

      <label id="" for="orcid-field" class="">ORCID</label>
<input id="orcid-field" name="" type="text" value="" placeholder="" list="" pattern="" min="" max=""    >

      <button id="" class="e-button3" aria-label=""  hidden>Remove</button>
    </div>
  </template>
  <div class="c-other__fields">
  </div>
  <button id="button-add" class="e-button2" aria-label=""  >Add Another Staff</button>
</div>

    </div>
    <nav class="c-progress" aria-label="progress">
  <a href="">&lt; Previous</a>
  <ol>
      <li >Project</li>
      <li aria-current="step">DMP</li>
      <li >Datasets</li>
  </ol>
  <a href="">Next &gt;</a>
</nav>

  </main>
  <footer class="c-footer">
  <p>DMPHub is a service of the <a href="https://www.cdlib.org/uc3/">University of California Curation Center</a> of the <a href="http://www.cdlib.org">California Digital Library.</a></p>
  <p>Copyright 2010-2019 The Regents of the University of California.</p>
</footer>

</div>

