

<label for="c-funder" class="">Funder</label>
<input id="c-funder" name="" type="text" value="" placeholder="" list="funder-list" pattern="" min="" max=""    >
<datalist id="funder-list">
  <option value="Generic Frozen Chicken">
  <option value="Handmade Soft Chips">
  <option value="Awesome Frozen Chicken">
  <option value="Practical Rubber Chips">
  <option value="Gorgeous Metal Shirt">
  <option value="Intelligent Fresh Table">
  <option value="Awesome Cotton Fish">
  <option value="Refined Steel Bacon">
  <option value="Awesome Soft Bike">
  <option value="Incredible Steel Bike">
</datalist>

