

<label id="" for="c-host" class="">Host</label>
<input id="c-host" name="" type="text" value="" placeholder="" list="host-list" pattern="" min="" max="" aria-controls=""    >
<datalist id="host-list">
  <option value="Awesome Rubber Gloves">
  <option value="Handmade Frozen Mouse">
  <option value="Ergonomic Soft Tuna">
  <option value="Generic Steel Fish">
  <option value="Intelligent Cotton Computer">
  <option value="Refined Fresh Fish">
  <option value="Handcrafted Frozen Tuna">
  <option value="Rustic Soft Table">
  <option value="Incredible Wooden Chicken">
  <option value="Rustic Metal Tuna">
</datalist>

