

<label id="" for="c-host" class="">Host</label>
<input id="c-host" name="" type="text" value="" placeholder="" list="host-list" pattern="" min="" max=""    >
<datalist id="host-list">
  <option value="Rustic Metal Car">
  <option value="Sleek Fresh Tuna">
  <option value="Refined Fresh Chair">
  <option value="Unbranded Steel Towels">
  <option value="Handmade Granite Sausages">
  <option value="Small Wooden Sausages">
  <option value="Licensed Fresh Hat">
  <option value="Tasty Metal Pants">
  <option value="Tasty Rubber Tuna">
  <option value="Fantastic Concrete Shoes">
</datalist>

