

<label for="c-host" class="">Host</label>
<input id="c-host" name="" type="text" value="" placeholder="" list="host-list" pattern="" min="" max=""    >
<datalist id="host-list">
  <option value="Incredible Soft Table">
  <option value="Intelligent Plastic Computer">
  <option value="Gorgeous Cotton Pants">
  <option value="Refined Fresh Cheese">
  <option value="Incredible Metal Computer">
  <option value="Tasty Plastic Sausages">
  <option value="Small Plastic Soap">
  <option value="Small Concrete Hat">
  <option value="Rustic Plastic Ball">
  <option value="Practical Granite Pants">
</datalist>

