

<label for="c-organization" class="">Organization</label>
<input id="c-organization" name="" type="text" value="" placeholder="" list="organization-list" pattern="" min="" max=""    >
<datalist id="organization-list">
  <option value="Licensed Concrete Cheese">
  <option value="Practical Steel Keyboard">
  <option value="Awesome Metal Towels">
  <option value="Licensed Plastic Chair">
  <option value="Ergonomic Soft Soap">
  <option value="Tasty Cotton Keyboard">
  <option value="Handcrafted Rubber Soap">
  <option value="Handmade Fresh Bike">
  <option value="Handcrafted Soft Chips">
  <option value="Refined Cotton Sausages">
</datalist>

