

<label for="c-organization" class="">Organization</label>
<input id="c-organization" name="" type="text" value="" placeholder="" list="organization-list" pattern="" min="" max=""    >
<datalist id="organization-list">
  <option value="Gorgeous Fresh Ball">
  <option value="Generic Plastic Table">
  <option value="Sleek Cotton Pants">
  <option value="Practical Cotton Car">
  <option value="Refined Steel Computer">
  <option value="Ergonomic Plastic Pants">
  <option value="Ergonomic Granite Cheese">
  <option value="Awesome Concrete Salad">
  <option value="Gorgeous Rubber Gloves">
  <option value="Incredible Steel Computer">
</datalist>

