

<div class="c-other">
  <template>
    <div class="c-other__fieldgroup" role="group" aria-label="staff">
      <label id="" for="c-contributor" class="required">Contributor Type</label>
<select name="" id="c-contributor"  required >
  
  <option value="1" default>author</option>
  <option value="2">principal investigator</option>
  <option value="3">curator</option>
</select>

      <label id="" for="c-name1" class="required">Name</label>
<input id="c-name1" name="" type="text" value="" placeholder="" list="" pattern="" min="" max=""    required>

      <label id="" for="c-email" class="required">Email</label>
<input id="c-email" name="" type="email" value="" placeholder="" list="" pattern="" min="" max=""    required>

      <label id="" for="orcid-field" class="">ORCID</label>
<input id="orcid-field" name="" type="text" value="" placeholder="" list="" pattern="" min="" max=""    >

      <button id="" class="e-button3" aria-label=""  >Remove</button>
    </div>
  </template>
  <div class="c-other__fields">
  </div>
  <button id="button-add" class="e-button2" aria-label=""  >Add Another Staff</button>
</div>

