

<select name="name" id="select"   >
  <option value="">Choose Your Option</option>
  <option value="1" default>Fantastic Cotton Keyboard</option>
  <option value="2">Ergonomic Wooden Bacon</option>
  <option value="3">Licensed Granite Bike</option>
  <option value="4">Fantastic Rubber Fish</option>
  <option value="5">Gorgeous Metal Towels</option>
  <option value="6">Handcrafted Wooden Hat</option>
  <option value="7">Refined Concrete Hat</option>
  <option value="8">Sleek Steel Shirt</option>
  <option value="9">Fantastic Rubber Fish</option>
  <option value="10">Licensed Fresh Chips</option>
</select>

