

<select name="name" id="select"   >
  <option value="">Choose Your Option</option>
  <option value="1" default>Practical Concrete Chicken</option>
  <option value="2">Incredible Soft Sausages</option>
  <option value="3">Handmade Granite Soap</option>
  <option value="4">Licensed Cotton Table</option>
  <option value="5">Incredible Plastic Keyboard</option>
  <option value="6">Sleek Fresh Pants</option>
  <option value="7">Unbranded Steel Towels</option>
  <option value="8">Gorgeous Concrete Bacon</option>
  <option value="9">Rustic Steel Salad</option>
  <option value="10">Ergonomic Metal Sausages</option>
</select>

