

<select name="name" id="select"   >
  <option value="">Choose Your Option</option>
  <option value="1" default>Small Wooden Soap</option>
  <option value="2">Incredible Plastic Pants</option>
  <option value="3">Small Steel Salad</option>
  <option value="4">Incredible Cotton Mouse</option>
  <option value="5">Generic Plastic Mouse</option>
  <option value="6">Incredible Soft Cheese</option>
  <option value="7">Refined Concrete Shirt</option>
  <option value="8">Small Frozen Pants</option>
  <option value="9">Small Granite Bike</option>
  <option value="10">Generic Granite Car</option>
</select>

