

<div class="t-step highlight-grid">
  <header>Header</header>
  <main>
    <h2>Subheading</h2>
    <div class="t-step__fields">
      <div>Component 1 Mollitia autem possimus. Quibusdam eius quas magni necessitatibus recusandae ut totam. Nihil quos saepe. Maiores et numquam consequatur doloribus ut laudantium reiciendis deleniti suscipit. Aliquid ipsam harum ipsam et doloribus quia mollitia.
 Odio sit mollitia iusto. Recusandae ratione et dolores doloremque eius sed error magnam ut. In nulla labore iste. Autem labore accusantium sint corrupti.
 Aut aut quibusdam vel blanditiis qui. Quae voluptatibus non perferendis sit nisi. Aut sed commodi dolorem dolores. Accusamus quia nemo.</div>
      <div>Component 2 Corporis mollitia incidunt earum. Quod at ea adipisci est architecto assumenda. Nulla rem non esse. Laborum enim sint magnam dolor accusantium quisquam aperiam.
 Fugit voluptate quisquam explicabo accusantium fugiat ad ullam. At vitae excepturi repellat sint. Sit delectus tempore. Sed ea numquam omnis et corrupti vitae quo.
 Commodi quidem aut. Id repellat exercitationem consequuntur quos. Molestiae minima voluptas quod neque non at. Ut voluptas unde et quod.</div>
      <div>Component 3 Illum id et. Dolore earum illo mollitia ratione et totam rerum temporibus. Et nulla atque aut accusantium illo repudiandae consequatur aut ipsa. Corrupti eum non dolore rerum.
 Quia commodi nihil ea. Odit sint animi et odit nobis. Est facilis reprehenderit minima culpa. Aut sunt hic et. Sunt nisi minima expedita suscipit.
 Pariatur magni ut recusandae aut. Quia totam inventore ut consequatur sed quas quisquam necessitatibus. Est doloremque at consequatur perspiciatis praesentium doloribus ut corporis in. Illo quaerat quam. Voluptatem sed soluta.</div>
      <div>Component 4 Similique quia facilis in nulla asperiores voluptatem consequatur corporis omnis. Est pariatur accusantium quae aut. Nostrum sequi dolores dolore.
 Iusto reiciendis ullam. Error consequuntur voluptates id qui accusantium ipsam. Tempora nisi numquam eius. Corrupti iusto aut necessitatibus at ullam consectetur maxime repellendus.
 Velit nam molestias praesentium ut. Non voluptatem quisquam eum eum quaerat laboriosam. Nisi et voluptatem velit enim. Impedit in amet asperiores et consequatur. Qui asperiores non accusamus dolorum nam.</div>
      <div>Component 5 Et aut commodi quaerat debitis maiores autem. Et quas illo praesentium incidunt dolor quis aut esse iste. Voluptatibus suscipit aut.
 Similique temporibus odio porro laudantium cumque ex et. Distinctio repellendus assumenda. Dignissimos facere aperiam eaque nam ipsum et similique quaerat nihil. Et quas distinctio commodi est optio.
 Voluptate ullam adipisci qui. Alias suscipit perspiciatis qui possimus non. Vel ut iste pariatur aut perspiciatis. Quae temporibus est. Harum sit quibusdam sit itaque commodi earum.</div>
    </div>
  </main>
  <footer>Footer</footer>
</div>

