<div id="{{ accordion.id2 }}" class="c-accordion">
  {{#each accordion2}}
  <details>
    <summary>{{ accordion.label }}</summary>
    <div class="c-accordion__section">
      {{ accordion.content }}
    </div>
  </details>
  {{/each}}
</div>
