<div class="c-other">
  <template>
    <div class="c-other__fieldgroup" role="group" aria-label="staff">
      {{ render '@contributor' }}
      {{ render '@name' }}
      {{ render '@email' }}
      {{ render '@orcidfield' }}
      {{> @button--3 button3 }}
    </div>
  </template>
  <div class="c-other__fields">
  </div>
  {{> @button--2 button2 }}
</div>
