<nav class="c-progress" aria-label="progress">
  <a href="">&lt; Previous</a>
  <ol>
    {{#each listitem}}
      <li {{#if item.ariacurrent}}aria-current="step"{{/if}}>{{ item.text }}</li>
    {{/each}}
  </ol>
  <a href="">Next &gt;</a>
</nav>
