

<div id="accordion-datasets" class="c-accordion">
  <details>
    <summary>Overview</summary>
    <div class="c-accordion__section">
      Illum aliquam enim enim alias assumenda animi. Aliquid temporibus et commodi amet. Iusto et voluptate facilis earum temporibus mollitia quia pariatur ut. Explicabo ut velit provident corrupti.
 Nobis expedita eum ut nam. Quisquam reiciendis occaecati aut fugiat sint dignissimos ad tempore et. Ut omnis molestiae. Vero ab non sint rerum error id non neque deserunt. Est quaerat ipsum quis blanditiis voluptatem repellendus suscipit.
 Est cum praesentium iusto nesciunt aut cupiditate qui animi. Dignissimos voluptate quia non eaque rerum. Eum excepturi quo debitis perferendis voluptas. Veniam odio aspernatur nulla. Eos quod consequatur in alias natus voluptatem assumenda. Quis ex rerum quasi alias dolores dolorem qui aperiam.
    </div>
  </details>
  <details>
    <summary>Security and Privacy</summary>
    <div class="c-accordion__section">
      Nisi molestiae id nam quia libero est aperiam. Corrupti architecto ut et consequuntur facere odit molestias omnis pariatur. Praesentium quasi quod pariatur tempora.
 Velit ex id. Incidunt delectus inventore labore a pariatur repudiandae. Aut placeat laudantium dolores sed.
 Unde dolore et aut est aut pariatur voluptas. Dolorem modi sequi aut. Ullam quam praesentium omnis adipisci.
    </div>
  </details>
  <details>
    <summary>Technical Resources</summary>
    <div class="c-accordion__section">
      Possimus eum quia dolorem dicta. Quam aut debitis rerum tenetur velit et veniam. Et pariatur minus iure praesentium molestias in quia non unde. Hic veritatis occaecati qui assumenda et aut sint occaecati sed. Velit necessitatibus earum id id esse ab.
 Explicabo et rem mollitia quia quia blanditiis totam dolor. Tenetur ex fugit iure. Repellendus excepturi adipisci delectus vero vitae omnis aut. Ullam ea qui ut molestiae hic harum.
 Recusandae recusandae doloribus quam est laborum aut sed asperiores non. Nesciunt inventore enim ex ipsam odit labore fugit aliquid. In nisi tempore qui vitae repudiandae. Veniam adipisci quod sed nostrum. Nam sit dolorem quam veritatis quia natus aperiam. Ea suscipit repellat beatae rerum rerum fugit ut.
    </div>
  </details>
  <details>
    <summary>Metadata</summary>
    <div class="c-accordion__section">
      Itaque ad omnis. Repellendus ut cumque. Illum expedita explicabo. Vel facere rerum id voluptatem. Ipsa voluptates ducimus omnis atque praesentium ducimus id. Delectus quia necessitatibus nesciunt quos sit aut.
 Facilis deserunt illo expedita impedit aut. Porro recusandae sed. Expedita pariatur ut nulla at tempora. Suscipit aliquam sapiente architecto unde repellendus quis voluptas aut ducimus. Ut ipsam ut adipisci.
 Quo optio voluptatem eum et perspiciatis sit qui adipisci. Aut consequatur voluptatem. Alias saepe quae officiis cumque culpa dolorum dolores dignissimos nobis. Dolores hic est adipisci nobis nobis id qui nam quis.
    </div>
  </details>
  <details>
    <summary>Distributions</summary>
    <div class="c-accordion__section">
      Nemo iusto laboriosam. Nemo quam vel ex atque itaque debitis molestias fugiat. Dignissimos optio consequatur repellat aperiam. Facilis enim velit voluptatibus sapiente eius mollitia labore. Necessitatibus eveniet aperiam aperiam omnis. Consectetur sint consequatur deserunt alias qui voluptas rerum.
 Aliquam qui et est. Est natus laboriosam consectetur ut. Iste nihil culpa aliquid quaerat. Maxime debitis sint et alias cupiditate ex. Iste necessitatibus impedit deleniti ad id non mollitia. Voluptatum rerum sit ipsum et fugit.
 Aliquid nobis ipsa magnam nostrum quia totam. Sit assumenda cupiditate quia ut. Rerum est at omnis. Provident culpa est vitae. Culpa optio ut nam et odit.
    </div>
  </details>
</div>

