

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DMPHub UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  </head>
  <body>
  <div id="accordion-distribution" class="c-accordion">
  <details>
    <summary>Host</summary>
    <div class="c-accordion__section">
      In laborum doloribus. Blanditiis eos repellendus et quibusdam in. Illum odio odio consequuntur rerum molestiae. Consequatur qui ab quaerat.
 Repudiandae itaque magnam pariatur. Libero accusantium nisi magni sapiente sit animi non. Aut eum non dicta totam quas. Quis voluptates quisquam. Enim ut quaerat quo consequatur odio hic. Delectus maiores alias molestiae fuga nulla facere velit sapiente aut.
 Pariatur laudantium quos laboriosam quia et ipsum sapiente culpa. Aliquam consequuntur sunt et ut beatae sit sit. Molestiae eum delectus nostrum impedit quia similique odio ea.
    </div>
  </details>
  <details>
    <summary>Licenses</summary>
    <div class="c-accordion__section">
      Earum repellendus ratione sint quis est consequatur. Autem eos velit nostrum quibusdam perferendis suscipit aperiam. Explicabo qui aspernatur ab officiis perspiciatis quasi. Incidunt ut minus excepturi. Odit natus nulla eius optio nihil debitis. Ut animi laboriosam reprehenderit inventore veritatis quod sunt corporis et.
 Ut explicabo ab. Adipisci veniam aut et sed enim. Nisi dolorem cupiditate eos nobis. Tempora cupiditate eveniet qui et eligendi. Excepturi qui aut cupiditate dolores doloribus non voluptatem natus velit.
 Qui magnam rem. Omnis aut iusto est natus enim perspiciatis. Labore omnis perspiciatis qui itaque voluptates aut repudiandae nihil. Vel autem delectus aliquam et unde sit minus expedita excepturi. Praesentium veritatis temporibus mollitia nulla qui eos debitis. Occaecati omnis magni voluptatem et saepe mollitia.
    </div>
  </details>
</div>

  <script src="../../ui-assets/js/main.js"></script>
  </body>
</html>

