

<div id="accordion-distribution" class="c-accordion">
  <details>
    <summary>Host</summary>
    <div class="c-accordion__section">
      Corporis velit vel provident. Quod maxime quis velit maiores. Sit ullam pariatur eum. Consequatur nihil odit tenetur molestias laborum beatae est. Nesciunt dolore odit.
 Rerum qui beatae voluptatem earum. Qui a voluptate. Animi dolor doloribus sed numquam minima in et quaerat. Porro architecto nobis eum inventore eos. Voluptatem esse et. Libero voluptatum omnis saepe in voluptas error.
 Minus qui ut sequi ipsum similique nostrum blanditiis. Voluptatem provident aperiam distinctio doloremque aspernatur. Qui id soluta. Et impedit nulla magni dolore voluptatem voluptates autem aliquid eveniet. Eos autem id dicta sit voluptatem quaerat aut. Ut modi voluptas officiis repellat consequatur quam et earum quo.
    </div>
  </details>
  <details>
    <summary>Licenses</summary>
    <div class="c-accordion__section">
      Alias dolores quo sit. Quia pariatur est dolor eos odit fugiat quidem pariatur itaque. Minima sint qui totam nulla quam adipisci. Rem sequi eligendi laboriosam voluptate maiores eligendi sit cumque qui. Corporis voluptatum necessitatibus.
 Ipsa et qui illo voluptas laboriosam repudiandae sint aperiam maiores. Dicta optio in adipisci. Ad minima architecto quae et et ea dolorum.
 Mollitia fuga voluptatem eum voluptas est aut. Aliquam laudantium ipsum. Placeat cum minus. Non doloribus et impedit.
    </div>
  </details>
</div>

