

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DMPHub UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  </head>
  <body>
  <div id="accordion-datasets" class="c-accordion">
  <details>
    <summary>Overview</summary>
    <div class="c-accordion__section">
      Molestias aut iusto itaque repellendus. Facilis minima porro est ratione ut. Veniam officia numquam. Maxime dolor excepturi eveniet voluptatem ratione soluta.
 Sed unde in placeat est nulla porro repudiandae. Placeat non laboriosam sit quasi. Alias voluptas corrupti numquam voluptatem eum. Sed et eveniet pariatur aliquid accusamus ea.
 Autem voluptatem commodi id maiores cupiditate et quia nihil occaecati. Est non minima cum aperiam sunt deserunt minima sint. Eveniet eos earum dolorem blanditiis earum minus sint. Aut quaerat eos voluptas odit repellendus sit exercitationem. Voluptates assumenda dicta corrupti explicabo. Sint vel ut libero ipsa quas odit.
    </div>
  </details>
  <details>
    <summary>Security and Privacy</summary>
    <div class="c-accordion__section">
      Voluptas qui iusto delectus. Error quo asperiores quo repudiandae et distinctio. Quaerat consectetur dolorem a accusantium. Et molestiae et ea debitis dolorem eligendi eum. Dolores qui ut.
 Sint vitae adipisci sit aut voluptatem eum. Praesentium ratione sit. Enim expedita optio molestiae velit vel incidunt.
 Inventore provident in fugiat nihil commodi dolores unde asperiores. Aut sapiente reiciendis consequatur adipisci vel. Voluptas maiores dolor. Neque omnis et ipsam dignissimos minus.
    </div>
  </details>
  <details>
    <summary>Technical Resources</summary>
    <div class="c-accordion__section">
      Consequatur soluta earum quis facilis architecto deserunt dolores rerum aspernatur. Odio consectetur voluptate beatae laudantium ipsum. Cupiditate similique qui natus porro expedita qui. Optio molestias eum velit incidunt ducimus placeat cupiditate necessitatibus. Cupiditate consequatur libero nihil est accusamus omnis voluptate.
 Necessitatibus praesentium et corrupti. Culpa et hic illum nihil voluptatum nihil debitis. Veniam voluptatem voluptate saepe neque doloremque. Adipisci occaecati sit quam aliquid est quos est beatae.
 Sint rem exercitationem eum reiciendis. Voluptatem sit magni aut. Qui consequatur soluta aut animi provident.
    </div>
  </details>
  <details>
    <summary>Metadata</summary>
    <div class="c-accordion__section">
      Praesentium consequatur et ducimus. Qui iure in praesentium itaque soluta eligendi sit. Similique a ab voluptatem voluptatem aliquam.
 Voluptatem nihil deleniti eos molestias quia est voluptatem. Repudiandae dolore sit. Aliquid aut suscipit iste earum repudiandae eos. Earum culpa dicta deleniti et velit.
 Facilis praesentium odio dicta. Voluptas et voluptatem et sed accusamus. Dolores nihil laborum corrupti odio illum saepe consectetur. Neque labore hic. Ullam ut magni. Quibusdam reprehenderit dolorem enim.
    </div>
  </details>
  <details>
    <summary>Distributions</summary>
    <div class="c-accordion__section">
      Minima officia commodi quasi. Ut minima occaecati aperiam occaecati. Et aut suscipit delectus enim corporis itaque nemo sint. Dolor at tempore corporis sint quia aut qui veniam. Ex asperiores pariatur sunt.
 Facilis repellat earum quia amet quasi sunt iure in ratione. Mollitia mollitia aut voluptas modi laborum vitae. Quisquam a sunt omnis. Autem ab est perferendis. Soluta voluptates et voluptas.
 Molestiae iste ea iure illo. Omnis ea atque culpa dolor. Ut voluptatem sint reiciendis sequi placeat atque laboriosam alias. Nisi et qui consequuntur tempore dolor et facere qui omnis. Est ea perferendis qui et sunt ut aut qui. Culpa omnis odio sunt perferendis molestias ut odio autem.
    </div>
  </details>
</div>

  <script src="../../ui-assets/js/main.js"></script>
  </body>
</html>

