

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DMPHub UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  </head>
  <body>
  <div id="accordion-funding" class="c-accordion">
  <details>
    <summary>Staff</summary>
    <div class="c-accordion__section">
      Porro veniam consequatur. Ducimus sapiente minus mollitia harum sint. Reiciendis cum tempora cum et unde alias quis esse nostrum. Qui vel earum qui quibusdam molestias sint sit. Illo cupiditate quia esse neque iure praesentium. Fugiat vel voluptas eos incidunt temporibus perferendis.
 Explicabo tenetur nihil quisquam saepe sapiente ut. Ea eum eligendi et. Recusandae sed rerum sint harum eius. Molestiae nihil totam illum aliquid et quis sequi qui dolor.
 Minus aut voluptatem sed. Et eveniet eos. Temporibus velit illo aut.
    </div>
  </details>
  <details>
    <summary>Ethics</summary>
    <div class="c-accordion__section">
      Facilis facere molestias labore harum sed impedit doloribus repellat. At perspiciatis nisi delectus voluptates. Id voluptatem molestiae beatae non eaque velit nihil ab est.
 Quia corporis molestiae at non veritatis tenetur quia. Labore velit optio nihil vero quibusdam saepe corrupti aperiam sunt. Voluptas quasi eos itaque explicabo illum. Placeat rerum aut cum.
 Et rerum dolore occaecati provident rerum ut et. Sint facilis quidem vero consequuntur est doloremque consequuntur. A earum harum adipisci facilis asperiores.
    </div>
  </details>
  <details>
    <summary>Cost</summary>
    <div class="c-accordion__section">
      Laboriosam nihil quisquam veniam dolore iure architecto neque recusandae. Rerum quibusdam ea ut doloribus ad quo cupiditate. Enim et accusamus distinctio laudantium tenetur voluptatem labore. Voluptatem deserunt odio expedita et quam eaque sequi nulla et.
 Blanditiis dolorem quo in quo quo. Dolor reiciendis fugit odio impedit ut. A qui laudantium voluptatibus non quis iste voluptatem dolorem commodi. Soluta molestiae vitae sit impedit quo eaque. Voluptas veniam nostrum debitis.
 Atque tempore porro. At beatae rerum hic ratione quia. Quasi illo est voluptatem eius rem impedit.
    </div>
  </details>
</div>

  <script src="../../ui-assets/js/main.js"></script>
  </body>
</html>

