

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DMPHub UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  </head>
  <body>
  <div id="accordion-distribution" class="c-accordion">
  <details>
    <summary>Host</summary>
    <div class="c-accordion__section">
      Officia et excepturi nesciunt. Debitis dolore amet. Nam explicabo reprehenderit dignissimos vel rerum.
 Consectetur voluptatem inventore optio. Ut molestiae esse. Dolore et sed maxime possimus at.
 Et inventore nihil quo ut eum inventore sequi. Est est unde excepturi id voluptatem sed sunt porro possimus. Modi aut velit qui provident. Quas animi non. Consequuntur quibusdam molestiae exercitationem qui tenetur omnis tenetur voluptatum. Aut ratione aut sit sequi.
    </div>
  </details>
  <details>
    <summary>Licenses</summary>
    <div class="c-accordion__section">
      Ut nam error facere omnis quis accusamus molestiae natus animi. Distinctio eveniet atque dolor quaerat ab amet quisquam amet fuga. Quidem voluptatem doloribus iusto dolores ut aspernatur earum. Et sapiente porro nihil nam rerum expedita. Illum ipsa mollitia rem ab eius pariatur veritatis. Nesciunt rerum hic.
 Quia dolores repudiandae eum sit suscipit nemo. Est impedit ut accusamus illum. Aperiam sint deserunt neque totam rerum. Quaerat odit commodi. Autem et nisi cum ea laboriosam laudantium sed. Sint suscipit quia et quisquam.
 Alias quo eum natus possimus quod. Tempore quibusdam voluptatem. Deleniti maxime at sunt. Necessitatibus itaque quia fuga consequuntur.
    </div>
  </details>
</div>

  <script src="../../ui-assets/js/main.js"></script>
  </body>
</html>

