

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DMPHub UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  </head>
  <body>
  <div id="accordion-funding" class="c-accordion">
  <details>
    <summary>Staff</summary>
    <div class="c-accordion__section">
      Reiciendis voluptatibus id libero aut sequi. Quia aut sint delectus quis ut. Non assumenda officia nostrum praesentium totam vel atque eos occaecati. Consequuntur ipsam et debitis maxime voluptatem molestias nemo aut. Eligendi hic accusamus autem nobis quos dignissimos alias.
 Dolorem rerum ipsam et. Qui doloribus sed exercitationem ex. Voluptatem dicta aperiam delectus. Dolor qui enim reiciendis dolores expedita rem rem distinctio nesciunt.
 Laudantium sapiente nesciunt odio eaque aut. Reiciendis enim occaecati ut enim eos. Qui dolor fugit a porro sed consequatur blanditiis quia voluptas. Doloribus dolorum voluptatem ipsum veritatis quas itaque rem accusantium.
    </div>
  </details>
  <details>
    <summary>Ethics</summary>
    <div class="c-accordion__section">
      Itaque officiis tempora nostrum. Officiis facilis dicta pariatur quam esse. Beatae sunt eos illum enim blanditiis iusto eveniet quia earum.
 Ut rerum itaque molestias illo. Est minus et quis modi repellat velit deleniti. Reiciendis ex laborum temporibus id delectus. Quam voluptas illum qui molestiae dolorem. Magni eaque deserunt ea omnis sed ut reiciendis rerum. Debitis voluptatibus quia.
 Quod et quas eligendi. Impedit ex quod. Maxime ratione et voluptas minima necessitatibus placeat.
    </div>
  </details>
  <details>
    <summary>Cost</summary>
    <div class="c-accordion__section">
      Hic hic rem excepturi. Impedit ea ut enim laudantium. Quisquam ex et ut illum molestias qui amet beatae eligendi. Exercitationem nihil nihil nostrum.
 Est expedita qui ut. Amet quia dolorum sunt. Ut voluptas omnis ut voluptate aut unde qui non autem. Nobis doloribus in. Qui quasi omnis porro dolore beatae.
 Modi enim fugit et omnis sequi aut voluptas eius. Reiciendis nihil tenetur ea voluptatem. Dolorum quam ad aut neque.
    </div>
  </details>
</div>

  <script src="../../ui-assets/js/main.js"></script>
  </body>
</html>

