

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DMPHub UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  </head>
  <body>
  <!-- Start: @accordion--1 -->
<div id="accordion-funding" class="c-accordion">
  <details>
    <summary>Staff</summary>
    <div class="c-accordion__section">
      Illum accusamus quam distinctio aut aut. Sunt quo asperiores et enim voluptatem tempore maiores ut impedit. Placeat autem maxime modi. Architecto quo vero nisi.
 Eos illo repudiandae consequatur optio laudantium cumque. Ullam doloribus suscipit minus. Nihil expedita nihil impedit.
 Amet optio illum quibusdam repudiandae laboriosam dignissimos unde assumenda et. Quo commodi ea sequi omnis. Officia veritatis aut. Sunt dolore sit fuga ut consequatur. Animi corporis provident animi nostrum voluptas autem.
    </div>
  </details>
  <details>
    <summary>Ethics</summary>
    <div class="c-accordion__section">
      Quidem aut quam ut neque sunt laudantium eligendi. Quas perferendis consectetur omnis. Optio et est. Est sed et qui eum officiis. Sed cum aut. Autem iste omnis explicabo nostrum vitae laborum numquam illo.
 Rerum dolores dolores expedita et ut facere qui doloremque. Dolorum consequuntur quos rerum voluptatem ut recusandae. Sed officia quam eius.
 Est rerum eos. A dolores aperiam provident vel beatae voluptas dicta. Dolorum dolore ut est.
    </div>
  </details>
  <details>
    <summary>Cost</summary>
    <div class="c-accordion__section">
      Amet ullam a reiciendis suscipit dolorem rerum quibusdam. Dolor est et totam et. Atque itaque numquam quae ratione saepe consequuntur et quia. Tempore eum fugiat earum nisi.
 Odit dolor qui amet doloribus. Veniam et vitae et occaecati tenetur possimus odit similique consequatur. Quo esse et voluptatem.
 Deleniti sequi et. Qui reiciendis et. Nihil molestiae nemo explicabo voluptatem omnis cum fugiat.
    </div>
  </details>
</div>
<!-- End: @accordion--1 -->

<!-- Start: @accordion--2 -->
<div id="accordion-datasets" class="c-accordion">
  <details>
    <summary>Overview</summary>
    <div class="c-accordion__section">
      Id dolores quo qui ratione. Nihil eum doloremque. Maxime voluptatibus doloremque earum vitae sunt repellendus officiis autem. Eveniet labore nostrum alias in nihil. Vitae voluptate quia veritatis porro repudiandae illo sequi ut.
 Et rerum perspiciatis maxime ut iste aut et. Fuga explicabo in non. Omnis reprehenderit repellendus molestias harum et non molestias maiores. Sit natus et.
 Voluptatum ut et perferendis nesciunt repudiandae itaque tempore porro. Voluptate consequuntur nihil explicabo mollitia mollitia odit optio debitis omnis. Eaque tempore sed.
    </div>
  </details>
  <details>
    <summary>Security and Privacy</summary>
    <div class="c-accordion__section">
      Consequatur quibusdam et eveniet reprehenderit quo reprehenderit cum. Accusantium quaerat voluptatem. Rerum deleniti doloremque omnis accusantium voluptatem numquam dolorum itaque.
 Molestias a nam placeat hic et et. Error voluptas optio ipsam error ea nam repellat quia. Voluptatem corporis aspernatur non eum recusandae debitis ut et. Eos vel sed harum dolore quidem perferendis.
 Velit in pariatur commodi velit dolorem voluptatem dolores rerum qui. Voluptatum qui non id voluptatum quis sit. Rem incidunt quae totam quisquam natus consequatur voluptas aut ut.
    </div>
  </details>
  <details>
    <summary>Technical Resources</summary>
    <div class="c-accordion__section">
      Dolor quia dolorem expedita architecto est aut soluta molestiae natus. Dolorum eum culpa delectus quasi quia itaque quidem exercitationem. Nesciunt quas neque cupiditate. Aliquam ea quia.
 Optio provident illum. Dolore itaque ipsum. Aut perferendis et aliquam nesciunt voluptatem optio. Rem qui occaecati.
 Omnis accusantium est. Eos esse repudiandae laudantium. Deserunt rerum sapiente dolorum. Quae dolor cumque quibusdam qui dolorum autem ex. Quos voluptate qui. Porro ab minima consequatur perspiciatis.
    </div>
  </details>
  <details>
    <summary>Metadata</summary>
    <div class="c-accordion__section">
      Exercitationem atque non ipsam dolorem. Quia quod doloremque cumque odit nobis ut et iusto nam. Rerum repellat qui odio perferendis error natus. Maiores aut ipsa doloremque fugit inventore facilis. Vitae eius sapiente odit voluptates. Sit error dignissimos ut nesciunt nam non amet sequi est.
 Qui ipsum quod ratione aliquam itaque. Dolor aspernatur consequuntur ut deserunt quas dignissimos accusantium. Rem sunt harum sit. Non aut placeat consequuntur vel et non aut. Cum laborum minima numquam sed illum consectetur quo doloribus. Inventore quod minus aperiam.
 Magni voluptatum corporis. Veritatis culpa optio sit ipsum. Et ratione quod ea rerum et adipisci nostrum quasi voluptas. Quo sint rem. Est rerum sit aut rerum officia nobis libero quam.
    </div>
  </details>
  <details>
    <summary>Distributions</summary>
    <div class="c-accordion__section">
      Velit molestiae non nobis. Et quae non et perferendis. Blanditiis quidem ullam ut quia ea. Et explicabo excepturi adipisci eveniet tempore nihil. Ut quos sit ut culpa atque. Accusamus nisi nam porro commodi.
 Blanditiis facilis dolor et itaque dolorum natus. Voluptas ratione odio ipsa porro. Excepturi quis fugiat dolore in amet animi voluptate nihil.
 Qui id facilis doloribus reprehenderit aliquam nostrum sunt quod adipisci. Explicabo dolores rerum suscipit occaecati dolore qui quo numquam nostrum. Molestiae sint sint harum beatae saepe dolorem.
    </div>
  </details>
</div>
<!-- End: @accordion--2 -->

<!-- Start: @accordion--3 -->
<div id="accordion-distribution" class="c-accordion">
  <details>
    <summary>Host</summary>
    <div class="c-accordion__section">
      Dignissimos eum saepe. Nulla animi sapiente facere et architecto voluptatibus dolores omnis consectetur. Aperiam est similique numquam hic.
 Culpa ratione blanditiis maiores aut at nobis. Enim reiciendis mollitia. Maiores rerum distinctio eum perferendis non fugiat rem earum reprehenderit. Dolorem unde perferendis non sit quia.
 Id ab et ad et. Rerum impedit soluta quis aperiam repellendus sapiente consectetur. Quisquam ut aut eligendi dolorem quod placeat velit quod omnis. Assumenda laudantium quia voluptatem ut labore incidunt.
    </div>
  </details>
  <details>
    <summary>Licenses</summary>
    <div class="c-accordion__section">
      Perferendis dicta aut quae non facilis eaque. Et et vel ipsam molestiae velit itaque saepe. Debitis nisi facere. Id eius corporis sed sunt ut aut culpa eligendi alias. Natus nemo natus earum magni commodi a.
 Placeat perferendis molestias in fugit voluptatem. Cupiditate ducimus sit tenetur vel ea tempore. Iste magnam modi ea libero. Quia consectetur id assumenda molestiae.
 Nobis laudantium est aut occaecati sit debitis. Ducimus voluptas aut dolor voluptatibus voluptatibus occaecati animi. Ipsam voluptas quam consequatur voluptatem ad qui est. Voluptas porro asperiores cupiditate alias occaecati quod ut. Pariatur voluptatem voluptas quidem et aut ea incidunt. Numquam optio nisi provident.
    </div>
  </details>
</div>
<!-- End: @accordion--3 -->

  <script src="../../ui-assets/js/main.js"></script>
  </body>
</html>

