

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DMPHub UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  </head>
  <body>
    <div id="accordion-funding" class="c-accordion">
  <details>
    <summary>Staff</summary>
    <div class="c-accordion__section">
      Ab nihil voluptate. Quis ut vero aut accusantium rem et eaque soluta excepturi. Occaecati est culpa vel quo suscipit aliquid aliquid voluptates reprehenderit.
 Reprehenderit consequatur ea et aut itaque totam voluptates est. Ullam quidem saepe ad deleniti. Veniam suscipit quam voluptas. Aut est qui id impedit rem.
 Nihil quo dolore quisquam sed excepturi ullam. Ratione suscipit sunt ut id culpa commodi architecto. Soluta consectetur quisquam cum omnis numquam quas. Vitae quod culpa natus et. Officia perspiciatis quisquam eligendi dicta. Voluptatibus culpa quia incidunt aut maxime quas omnis dignissimos velit.
    </div>
  </details>
  <details>
    <summary>Ethics</summary>
    <div class="c-accordion__section">
      Quam laudantium accusamus dolor possimus labore dolores sit dolor. Omnis expedita error est et est ea sed occaecati rem. Consequatur doloremque cum illo consequatur sed.
 Ut molestiae rerum magni quos quis enim est. Quod non et quam impedit. Voluptatem nulla voluptatibus blanditiis.
 Sed recusandae atque ipsam voluptatum. Et ipsa cupiditate impedit dolorem atque nihil dignissimos culpa eaque. Ipsa qui sit laudantium rerum temporibus et aut consequatur.
    </div>
  </details>
  <details>
    <summary>Cost</summary>
    <div class="c-accordion__section">
      Assumenda quia totam dolorem molestiae commodi sit. Corporis molestias atque exercitationem molestiae hic ratione illum soluta. Aut aut et maiores sunt.
 Expedita laborum voluptate et quaerat inventore vitae iure. Minus enim dolores in similique. Voluptatem tenetur sit aut. Fuga nulla odio rerum nihil ullam.
 Accusamus officia minima aspernatur voluptatem explicabo sint error et possimus. Eos cupiditate quis aut doloribus. Ut quo aliquid. Corrupti distinctio id earum consequatur dolore.
    </div>
  </details>
</div>

    <script src="../../ui-assets/js/main.js"></script>
  </body>
</html>

