

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DMPHub UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  </head>
  <body>
  <!-- Start: @accordion--1 -->
<div id="accordion-funding" class="c-accordion">
  <details>
    <summary>Staff</summary>
    <div class="c-accordion__section">
      Sunt suscipit vero minima deserunt nesciunt consequuntur qui aut. Et cum vel vel non aut et sit. Quia facere qui impedit nobis est et. Fuga repudiandae saepe laborum. Consequatur quia neque quidem quae. Ipsum quis amet aut alias id et consequatur.
 Consequuntur tenetur cupiditate dolore et repellendus placeat ut beatae voluptas. Voluptatibus dolorum aperiam veniam ea. Tenetur amet voluptatem cupiditate. Asperiores nemo corrupti animi impedit velit ipsam maiores. Nobis sed asperiores commodi. Maiores delectus sed sed eos aspernatur harum.
 Quis sit quibusdam. Eum nesciunt blanditiis corrupti dolorum sit vero. Consequatur voluptate molestiae.
    </div>
  </details>
  <details>
    <summary>Ethics</summary>
    <div class="c-accordion__section">
      Laudantium officia ad. Id rerum assumenda. Ad et blanditiis cum. Soluta facere voluptas aut iure labore. Repudiandae est at rerum exercitationem officia harum molestiae eveniet magni. Magni autem modi ducimus vel eum suscipit architecto.
 Suscipit quae omnis aut illum nam quas quasi. Minima aut omnis. Rerum maxime qui sit nihil dolorum quod.
 Et et amet et ipsum tenetur expedita quam aut. Vel excepturi culpa quas aliquid est dolorem et. Iure illum minus. Sunt animi nobis vitae consequuntur totam accusamus commodi labore.
    </div>
  </details>
  <details>
    <summary>Cost</summary>
    <div class="c-accordion__section">
      Voluptates ab et ipsum dolorem enim perferendis quaerat vel incidunt. Accusamus dolor corporis soluta nihil laudantium debitis illo. Recusandae quia ut aspernatur minima quas eveniet. Cum nam placeat impedit quisquam beatae nisi nemo exercitationem ut.
 Eaque sit laudantium libero nisi ea consequatur et tempora. In quae soluta. Et ipsam fugit sunt asperiores sequi occaecati aut. Itaque occaecati aut rem fuga omnis culpa possimus ullam.
 Est eligendi consequatur ut eos exercitationem. Praesentium qui esse iusto. Autem dolor recusandae reiciendis placeat sed nemo quod quo sunt.
    </div>
  </details>
</div>
<!-- End: @accordion--1 -->

<!-- Start: @accordion--2 -->
<div id="accordion-datasets" class="c-accordion">
  <details>
    <summary>Overview</summary>
    <div class="c-accordion__section">
      Omnis cupiditate et qui numquam quis. Ut quia voluptatem est atque et. Ratione eos expedita odio fugit. Voluptatem modi sint quia.
 Illo aut qui ea aut sequi labore temporibus quo nostrum. Magnam ut assumenda voluptatum doloribus tempore dolores. Consequuntur assumenda ut culpa eius fuga sit voluptatem necessitatibus aut. Et aliquam minus nesciunt. Dolore corrupti soluta quasi modi voluptatem sint. Et harum laborum.
 Amet deleniti ut cum eos voluptatem saepe id. Laboriosam illum nemo aspernatur assumenda aut dolorum laudantium. Deleniti consequatur vero quis dolorem animi.
    </div>
  </details>
  <details>
    <summary>Security and Privacy</summary>
    <div class="c-accordion__section">
      Similique sint sequi nisi quidem quaerat. Minima quam et in. Et unde neque animi non ipsam. Nihil dicta modi porro vero ipsum. Ut odit nulla aut et.
 Repudiandae delectus dolor est error perspiciatis. Consequuntur quam sunt sit et assumenda culpa ut. Quidem rem ea voluptate laborum voluptatibus id voluptatem rerum. Corporis aut nemo earum et eius numquam consequuntur. Et enim dolorem. Blanditiis et voluptatibus.
 Vero ipsa ipsa. Accusamus nam sequi eaque quis occaecati suscipit. Accusamus nisi aut harum libero consequatur. Nobis mollitia molestiae vero.
    </div>
  </details>
  <details>
    <summary>Technical Resources</summary>
    <div class="c-accordion__section">
      Modi et consectetur repellendus qui. Rem quas et. Dolorem voluptatem non. Exercitationem sapiente consequatur adipisci molestiae. Labore aliquam dolor id veniam fugiat laudantium quod repellendus laborum. Nobis officia velit.
 Sequi accusantium necessitatibus voluptas ipsum. Reiciendis expedita molestias placeat optio quis laboriosam repellat ut et. Magni unde voluptatem. In qui nisi aperiam est et.
 Aperiam omnis vero voluptatem ipsa. Quo molestias quis facere quas asperiores omnis asperiores et voluptatem. Aut non beatae magnam.
    </div>
  </details>
  <details>
    <summary>Metadata</summary>
    <div class="c-accordion__section">
      Et qui quidem laboriosam porro quis natus laborum. Minus commodi quia. Aspernatur sequi earum et qui architecto ut. Aut voluptatem nihil magni vero inventore nihil eos. Nostrum iure voluptatum qui.
 Et sit nobis. Est voluptates magnam facilis laudantium debitis numquam laborum. Non et nesciunt eos velit. Est ea autem repellendus.
 Officiis impedit nihil dolorem. Sint dolorem qui. Consequatur rem est sapiente id libero dolorem eaque.
    </div>
  </details>
  <details>
    <summary>Distributions</summary>
    <div class="c-accordion__section">
      Nulla odit similique saepe. Harum omnis ad. Consequatur fuga blanditiis.
 Aperiam rem iusto quia. Dolores repellat ad id aperiam tenetur dolor ratione iusto. In voluptates dolorem dicta consequuntur. At quidem atque libero repellat sit maxime non modi voluptatum. Est facere ut.
 Sed saepe perferendis sed facilis corrupti aut. Deserunt aliquam aut dolor qui. Temporibus et sed asperiores saepe. Et assumenda veritatis accusamus et.
    </div>
  </details>
</div>
<!-- End: @accordion--2 -->

<!-- Start: @accordion--3 -->
<div id="accordion-distribution" class="c-accordion">
  <details>
    <summary>Host</summary>
    <div class="c-accordion__section">
      Consequatur aliquid sit accusamus minima nisi dolores quis. Officiis magni reprehenderit repellendus sed rem aspernatur accusamus. Beatae quae sit sequi. Explicabo qui soluta earum. In nam enim quis. Minus commodi libero esse et voluptatem aliquid.
 Vitae consequatur expedita ullam. Quidem sequi molestias et debitis. Dolorem velit temporibus est architecto voluptatem aut corrupti.
 Et qui magni provident at. Voluptatem enim eveniet et. Perspiciatis veritatis minus fugit ad est illo velit ut repudiandae. Non cum debitis autem recusandae dolorum qui.
    </div>
  </details>
  <details>
    <summary>Licenses</summary>
    <div class="c-accordion__section">
      Esse rerum fuga voluptates consequatur officiis. Architecto suscipit perspiciatis deleniti placeat explicabo nam laboriosam culpa. Ullam ratione nulla sequi aut odio nemo. Fuga repellendus fuga.
 Sed eos sapiente sapiente enim dolorem est cum aut. Reiciendis libero fugiat molestiae sint deserunt rem. Id soluta facilis corporis aut. Totam sed consectetur. Omnis dolores nam commodi aut.
 Non cum facilis et sapiente voluptas et. Id odit nesciunt rerum necessitatibus similique qui ex. Nostrum ut omnis dolor enim quia facere a sequi.
    </div>
  </details>
</div>
<!-- End: @accordion--3 -->

  <script src="../../ui-assets/js/main.js"></script>
  </body>
</html>

