

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <title>DMPHub UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  </head>
  <body>
    <!-- Start: @button--1 -->
<button id="button-id1" class="e-button1" type="button" aria-label="" >Generic</button>
<!-- End: @button--1 -->

<!-- Start: @button--2 -->
<button id="button-id2" class="e-button2" type="button" aria-label="Add"  >Add</button>
<!-- End: @button--2 -->

<!-- Start: @button--3 -->
<button id="button-id3" class="e-button3" type="button" aria-label="Remove"  >Remove</button>
<!-- End: @button--3 -->

    <script src="../../ui-assets/js/main.js"></script>
  </body>
</html>

