

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DMPHub UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  </head>
  <body>
  <label for="c-contributor" class="required">Contributor Type</label>
<select name="" id="c-contributor"  required >
  
  <option value="1" default>author</option>
  <option value="2">principal investigator</option>
  <option value="3">curator</option>
</select>

  <script src="../../ui-assets/js/main.js"></script>
  </body>
</html>

