

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DMPHub UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  </head>
  <body>
  <datalist id="datalist">
  <option value="Small Steel Gloves">
  <option value="Sleek Frozen Shirt">
  <option value="Practical Wooden Chair">
  <option value="Awesome Granite Ball">
  <option value="Fantastic Steel Soap">
  <option value="Refined Fresh Mouse">
  <option value="Small Fresh Shoes">
  <option value="Licensed Frozen Shirt">
  <option value="Awesome Cotton Sausages">
  <option value="Sleek Granite Chicken">
</datalist>

  <script src="../../ui-assets/js/main.js"></script>
  </body>
</html>

