

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <title>DMPHub UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  </head>
  <body>
    <datalist id="datalist">
  <option value="Incredible Fresh Car">
  <option value="Intelligent Wooden Cheese">
  <option value="Tasty Steel Salad">
  <option value="Licensed Granite Hat">
  <option value="Incredible Granite Sausages">
  <option value="Tasty Concrete Car">
  <option value="Sleek Metal Gloves">
  <option value="Licensed Cotton Pants">
  <option value="Practical Soft Car">
  <option value="Fantastic Cotton Mouse">
</datalist>

    <script src="../../ui-assets/js/main.js"></script>
  </body>
</html>

