

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DMPHub UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  </head>
  <body>
  <datalist id="datalist">
  <option value="Ergonomic Granite Pants">
  <option value="Intelligent Granite Chips">
  <option value="Refined Rubber Shoes">
  <option value="Incredible Steel Towels">
  <option value="Refined Concrete Chips">
  <option value="Gorgeous Soft Cheese">
  <option value="Sleek Fresh Chair">
  <option value="Small Plastic Soap">
  <option value="Practical Wooden Computer">
  <option value="Practical Concrete Towels">
</datalist>

  <script src="../../ui-assets/js/main.js"></script>
  </body>
</html>

