

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DMPHub UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  </head>
  <body>
  <div id="c-ethicsreport" class="c-fieldgroup" role="group" aria-labelledby="c-ethical__label">
  <label id="" for="c-description" class="textarea">Please Describe</label>
<textarea id="c-description" name=""  placeholder=""  ></textarea>

  <label id="" for="c-report" class="">Report</label>
<input id="c-report" name="" type="url" value="" placeholder="" list="" pattern="" min="" max=""    >

</div>

  <script src="../../ui-assets/js/main.js"></script>
  </body>
</html>

