

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DMPHub UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  </head>
  <body>
    <footer class="c-footer">
  <p>DMPHub is a service of the <a href="https://www.cdlib.org/uc3/">University of California Curation Center</a> of the <a href="http://www.cdlib.org">California Digital Library.</a></p>
  <p>Copyright 2010-2019 The Regents of the University of California.</p>
</footer>

    <script src="../../ui-assets/js/main.js"></script>
  </body>
</html>

