

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DMPHub UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  </head>
  <body>
  <label for="c-funder" class="">Funder</label>
<input id="c-funder" name="" type="text" value="" placeholder="" list="funder-list" pattern="" min="" max=""    >
<datalist id="funder-list">
  <option value="Sleek Frozen Pizza">
  <option value="Handmade Wooden Computer">
  <option value="Fantastic Concrete Sausages">
  <option value="Handmade Rubber Chicken">
  <option value="Rustic Concrete Table">
  <option value="Handmade Frozen Chicken">
  <option value="Gorgeous Wooden Shoes">
  <option value="Unbranded Wooden Chips">
  <option value="Sleek Rubber Cheese">
  <option value="Refined Frozen Fish">
</datalist>

  <script src="../../ui-assets/js/main.js"></script>
  </body>
</html>

