

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DMPHub UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  </head>
  <body>
  <label for="c-funder" class="">Funder</label>
<input id="c-funder" name="" type="text" value="" placeholder="" list="funder-list" pattern="" min="" max=""    >
<datalist id="funder-list">
  <option value="Small Frozen Gloves">
  <option value="Ergonomic Granite Pizza">
  <option value="Tasty Plastic Car">
  <option value="Rustic Fresh Bike">
  <option value="Refined Wooden Pants">
  <option value="Generic Granite Cheese">
  <option value="Handcrafted Soft Keyboard">
  <option value="Refined Fresh Cheese">
  <option value="Ergonomic Concrete Chicken">
  <option value="Sleek Concrete Chicken">
</datalist>

  <script src="../../ui-assets/js/main.js"></script>
  </body>
</html>

