

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DMPHub UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  </head>
  <body>
  <label id="" for="c-funder" class="">Funder</label>
<input id="c-funder" name="" type="text" value="" placeholder="" list="funder-list" pattern="" min="" max=""    >
<datalist id="funder-list">
  <option value="Licensed Fresh Bacon">
  <option value="Ergonomic Soft Table">
  <option value="Practical Metal Cheese">
  <option value="Handmade Frozen Fish">
  <option value="Tasty Plastic Pizza">
  <option value="Handmade Fresh Cheese">
  <option value="Rustic Fresh Sausages">
  <option value="Practical Frozen Keyboard">
  <option value="Incredible Wooden Hat">
  <option value="Refined Cotton Table">
</datalist>

  <script src="../../ui-assets/js/main.js"></script>
  </body>
</html>

