

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DMPHub UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  </head>
  <body>
  <label for="c-grantid" class="">Grant ID</label>
<input id="c-grantid" name="" type="number" value="" placeholder="" list="" pattern="" min="" max=""    >

  <script src="../../ui-assets/js/main.js"></script>
  </body>
</html>

