

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DMPHub UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  </head>
  <body>
  <header class="c-header">
  <a class="c-logo" href="/">
  <img src="../../ui-assets/images/dmphub_logo.svg" alt="DMP Hub logo">
</a>

  <h1 >
    DMP Hub
  </h1>
</header>

  <script src="../../ui-assets/js/main.js"></script>
  </body>
</html>

