

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DMPHub UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  </head>
  <body>
  <!-- Start: @heading--heading-level-1 -->
<h1 id="test-id">
  Explicabo Sint Voluptatem Ullam Culpa Eum
</h1>
<!-- End: @heading--heading-level-1 -->

<!-- Start: @heading--heading-level-2 -->
<h2 id="test-id">
  Explicabo Sint Voluptatem Ullam Culpa Eum
</h2>
<!-- End: @heading--heading-level-2 -->

<!-- Start: @heading--heading-level-3 -->
<h3 id="test-id">
  Explicabo Sint Voluptatem Ullam Culpa Eum
</h3>
<!-- End: @heading--heading-level-3 -->

  <script src="../../ui-assets/js/main.js"></script>
  </body>
</html>

