

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DMPHub UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  </head>
  <body>
  <label for="c-host" class="">Host</label>
<input id="c-host" name="" type="text" value="" placeholder="" list="host-list" pattern="" min="" max=""    >
<datalist id="host-list">
  <option value="Handmade Granite Gloves">
  <option value="Intelligent Soft Computer">
  <option value="Practical Rubber Keyboard">
  <option value="Refined Cotton Table">
  <option value="Tasty Metal Pizza">
  <option value="Handmade Cotton Fish">
  <option value="Practical Steel Cheese">
  <option value="Generic Fresh Tuna">
  <option value="Intelligent Rubber Bike">
  <option value="Refined Concrete Hat">
</datalist>

  <script src="../../ui-assets/js/main.js"></script>
  </body>
</html>

