

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DMPHub UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  </head>
  <body>
    <label id="" for="c-host" class="">Host</label>
<input id="c-host" name="" type="text" value="" placeholder="" list="host-list" pattern="" min="" max=""    >
<datalist id="host-list">
  <option value="Incredible Plastic Mouse">
  <option value="Incredible Cotton Cheese">
  <option value="Awesome Soft Soap">
  <option value="Handmade Cotton Computer">
  <option value="Tasty Granite Chair">
  <option value="Awesome Fresh Fish">
  <option value="Fantastic Fresh Pizza">
  <option value="Fantastic Wooden Table">
  <option value="Incredible Soft Chips">
  <option value="Handcrafted Rubber Towels">
</datalist>

    <script src="../../ui-assets/js/main.js"></script>
  </body>
</html>

