

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DMPHub UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  </head>
  <body>
    <label id="" for="c-language" class="required">Language</label>
<select name="" id="c-language"  required >
  
  <option value="1" default>English</option>
  <option value="2">French</option>
  <option value="3">Spanish</option>
  <option value="4">German</option>
</select>

    <script src="../../ui-assets/js/main.js"></script>
  </body>
</html>

