

<label id="" for="c-organization" class="">Organization</label>
<input id="c-organization" name="" type="text" value="" placeholder="" list="organization-list" pattern="" min="" max=""    >
<datalist id="organization-list">
  <option value="Awesome Granite Table">
  <option value="Unbranded Concrete Pizza">
  <option value="Generic Rubber Shoes">
  <option value="Handcrafted Frozen Hat">
  <option value="Refined Granite Computer">
  <option value="Awesome Frozen Computer">
  <option value="Small Soft Chips">
  <option value="Ergonomic Granite Shoes">
  <option value="Practical Soft Mouse">
  <option value="Ergonomic Cotton Cheese">
</datalist>

