

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DMPHub UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  </head>
  <body>
  <label id="" for="c-organization" class="">Organization</label>
<input id="c-organization" name="" type="text" value="" placeholder="" list="organization-list" pattern="" min="" max=""    >
<datalist id="organization-list">
  <option value="Tasty Concrete Salad">
  <option value="Ergonomic Metal Shoes">
  <option value="Handmade Frozen Chips">
  <option value="Tasty Plastic Tuna">
  <option value="Small Plastic Pizza">
  <option value="Sleek Frozen Salad">
  <option value="Ergonomic Steel Towels">
  <option value="Small Rubber Shirt">
  <option value="Handmade Wooden Fish">
  <option value="Sleek Granite Chicken">
</datalist>

  <script src="../../ui-assets/js/main.js"></script>
  </body>
</html>

