

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DMPHub UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  </head>
  <body>
  <label id="" for="c-organization" class="">Organization</label>
<input id="c-organization" name="" type="text" value="" placeholder="" list="organization-list" pattern="" min="" max="" aria-controls=""    >
<datalist id="organization-list">
  <option value="Handcrafted Cotton Bacon">
  <option value="Fantastic Soft Cheese">
  <option value="Ergonomic Concrete Car">
  <option value="Handmade Soft Gloves">
  <option value="Handcrafted Plastic Pizza">
  <option value="Handcrafted Soft Gloves">
  <option value="Small Cotton Table">
  <option value="Intelligent Steel Mouse">
  <option value="Ergonomic Granite Table">
  <option value="Handcrafted Soft Chicken">
</datalist>

  <script src="../../ui-assets/js/main.js"></script>
  </body>
</html>

