

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DMPHub UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  </head>
  <body>
  <div id="primary-id" class="c-fieldgroup" aria-labelledby="primary-fieldgroup-label" role="group">
  <span id="primary-fieldgroup-label" class="c-fieldgroup__label">Primary Contact</span>
  <label id="" for="c-name1" class="required">Name</label>
<input id="c-name1" name="" type="text" value="" placeholder="" list="" pattern="" min="" max="" aria-controls=""    required>

  <label id="" for="c-email" class="required">Email</label>
<input id="c-email" name="" type="email" value="" placeholder="" list="" pattern="" min="" max="" aria-controls=""    required>

  <a id="c-orcid" class="c-orcid required" href="https://orcid.org/0000-0001-5727-2427">https://orcid.org/0000-0001-5727-2427</a>

</div>

  <script src="../../ui-assets/js/main.js"></script>
  </body>
</html>

