

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DMPHub UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  </head>
  <body>
    <nav class="c-progress" aria-label="progress">
  <a href="">&lt; Previous</a>
  <ol>
      <li >Project</li>
      <li aria-current="step">DMP</li>
      <li >Datasets</li>
  </ol>
  <a href="">Next &gt;</a>
</nav>

    <script src="../../ui-assets/js/main.js"></script>
  </body>
</html>

