

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <title>DMPHub UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  </head>
  <body>
    <select name="name" id="select"   >
  <option value="">Choose Your Option</option>
  <option value="1" default>Practical Wooden Chair</option>
  <option value="2">Fantastic Frozen Mouse</option>
  <option value="3">Fantastic Plastic Shirt</option>
  <option value="4">Handmade Steel Salad</option>
  <option value="5">Practical Concrete Chair</option>
  <option value="6">Licensed Steel Computer</option>
  <option value="7">Incredible Metal Bacon</option>
  <option value="8">Unbranded Granite Salad</option>
  <option value="9">Small Fresh Keyboard</option>
  <option value="10">Licensed Soft Tuna</option>
</select>

    <script src="../../ui-assets/js/main.js"></script>
  </body>
</html>

