

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DMPHub UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  </head>
  <body>
  <select name="name" id="select"   >
  <option value="">Choose Your Option</option>
  <option value="1" default>Fantastic Soft Shoes</option>
  <option value="2">Fantastic Frozen Gloves</option>
  <option value="3">Small Concrete Salad</option>
  <option value="4">Practical Frozen Sausages</option>
  <option value="5">Fantastic Plastic Shoes</option>
  <option value="6">Fantastic Concrete Bike</option>
  <option value="7">Generic Metal Gloves</option>
  <option value="8">Refined Metal Cheese</option>
  <option value="9">Small Steel Pants</option>
  <option value="10">Awesome Plastic Computer</option>
</select>

  <script src="../../ui-assets/js/main.js"></script>
  </body>
</html>

