

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DMPHub UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  </head>
  <body>
  <select name="name" id="select"   >
  <option value="">Choose Your Option</option>
  <option value="1" default>Generic Metal Ball</option>
  <option value="2">Sleek Steel Car</option>
  <option value="3">Generic Frozen Tuna</option>
  <option value="4">Small Steel Car</option>
  <option value="5">Intelligent Soft Shirt</option>
  <option value="6">Handmade Frozen Mouse</option>
  <option value="7">Handcrafted Cotton Shoes</option>
  <option value="8">Awesome Plastic Cheese</option>
  <option value="9">Awesome Fresh Gloves</option>
  <option value="10">Handmade Plastic Bike</option>
</select>

  <script src="../../ui-assets/js/main.js"></script>
  </body>
</html>

