

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DMPHub UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  </head>
  <body>
  <div class="t-step highlight-grid">
  <header>Header</header>
  <main>
    <h2>Subheading</h2>
    <div class="t-step__fields">
      <div>Component 1 Ratione dolorem illum neque. Et eveniet incidunt est et. Consectetur deleniti illum nihil fugit est. Dolore voluptatum ab ullam adipisci optio voluptas.
 Odit magni est. Est eaque sit consequuntur et possimus voluptatum cumque. Nemo id consequatur aperiam et neque minima modi est aut. Odit commodi et voluptatem in. Voluptas ratione quia facere quis totam occaecati aspernatur.
 Sint sint nihil quae aut nam. Hic facere vitae tenetur voluptas. At nihil animi fuga ad sunt ut commodi delectus. Porro sed velit quas. A veritatis voluptatem modi soluta quaerat. Aut amet tempore reiciendis tempora est sapiente.</div>
      <div>Component 2 Quis dolore excepturi eos fuga. Velit aliquam autem aliquid neque ipsam qui beatae. Maxime rerum consequatur corporis. Nihil maxime qui sequi placeat qui odit aut. Sunt vel officiis magnam architecto quam eum sunt hic blanditiis.
 Eligendi ut ipsam quod. Ex aliquid qui officiis sed laudantium autem. Quidem temporibus expedita corporis vel cumque nam id.
 Molestias molestias veniam dolorem voluptatem quos mollitia hic sint non. Dolor ut vitae. Qui est et aliquam omnis accusamus sunt praesentium. Similique repellat dolores autem ea qui hic. Non sequi dolor ducimus.</div>
      <div>Component 3 Enim quo porro culpa aut ipsa aut eveniet expedita beatae. Autem necessitatibus consectetur consectetur fuga dolores optio. Aut quibusdam facere officia minima facilis odio et dignissimos autem. Ut libero enim dolorum eos ut. Esse ut occaecati iure consequatur maiores accusantium autem quaerat pariatur. Quis quaerat ratione.
 Officia repellendus aperiam. Iure eaque quae necessitatibus necessitatibus facilis rem fuga qui corrupti. Aliquam rerum ad provident deleniti consequatur qui eum nihil.
 Ab minima aut quia alias earum quibusdam excepturi magnam. Architecto in qui velit ut esse. Voluptate non ipsum aut iste alias autem adipisci eum. Quia sint voluptatem veritatis iste amet id fuga nostrum. Quam libero laborum consequatur velit neque.</div>
      <div>Component 4 Quos et officia cum aliquam quod molestiae laborum quia. Sed tempore eos rem. Saepe quo accusantium praesentium recusandae et quia ex.
 Ut eum aut sunt at natus beatae voluptatem. Itaque ut ut id hic. Fugiat quis nesciunt. Sit quo minima debitis unde recusandae. Debitis nam animi eligendi error ut. Earum pariatur veniam sed est culpa laudantium rerum quia quos.
 Provident mollitia sit. Nihil voluptatem cupiditate sint cumque. Nesciunt nihil praesentium est minima. Quia beatae et asperiores aut totam. Dolorem laborum aliquam aut aut minima. Quis numquam saepe.</div>
      <div>Component 5 Occaecati et est possimus ipsa adipisci omnis sunt sed et. Vel sint dignissimos nihil quod. Necessitatibus ut iusto in et veritatis.
 Non enim ducimus quae aliquam expedita. Libero quis sapiente repudiandae odio ea mollitia omnis est sequi. Rerum rerum temporibus aliquam libero ab. Aut similique provident. Impedit qui sit voluptatibus labore voluptatem mollitia eum quidem cum. Autem culpa et deserunt velit.
 Aspernatur dignissimos illo qui. Vero repudiandae delectus dolores reiciendis veniam adipisci. Consequatur quo nesciunt.</div>
    </div>
  </main>
  <footer>Footer</footer>
</div>

  <script src="../../ui-assets/js/main.js"></script>
  </body>
</html>

