

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DMPHub UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" href="../../ui-assets/css/main.css" media="all">
  </head>
  <body>
  <label for="c-type" class="">Type</label>
<select name="" id="c-type"   >
  
  <option value="1" default>data</option>
  <option value="2">database</option>
  <option value="3">software</option>
  <option value="4">spreadsheet</option>
</select>

  <script src="../../ui-assets/js/main.js"></script>
  </body>
</html>

